<!DOCTYPE html>
<html ng-app lang="en">
<head>
    <title>iCanvas Page</title>
         
    <script src="js/addons/jquery-1.11.3.js"></script>    
    <script src="js/jquery-ui-1.11.4/jquery-ui.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>    
    <script src="js/addons/lodash.js"></script>  
    <script src="js/addons/knockout.min.js"></script>
    <script src="js/addons/gridstack.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="js/chart1.js"></script>
    <script type="text/javascript" src="js/chart2.js"></script>
    <script type="text/javascript" src="js/chart3.js"></script>   
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/hoverzoom.css">
    <link rel="stylesheet" href="css/gridstack.css"/>
    <script type="text/javascript" src="js/addons/Grid.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script type="text/javascript" src="js/addons/clickadd.js"></script>
    <style type="text/css"></style>
</head>

<body background="images/triangles.png">
    <div ng-controller="Note" class="container">       
        <nav class="navbar navbar-inverse navbar-collapse collapse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img class="logo" src="images/Glogo.png" style="width:110px;">
                    </div>
                    <div id="navbar">
                        <ul class="topmenu nav navbar-nav">
                            <li><a href="index.html">CANVAS</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="instruments.html">INSTRUMENTS</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="community.html">COMMUNITY</a></li>          
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li><a class="glyphicon glyphicon-envelope"href="../navbar-static-top/"></a></li>
                          <li><a class="glyphicon glyphicon-bell" href="../navbar-static-top/"></a></li>
                          <li><a class="glyphicon glyphicon-user"href="../navbar-fixed-top/">Profile</a></li>
                        </ul>
                    </div>
                </div>
        </nav>
        <div class="row">
            <div class="col-md-12 well well-sm canv">
                <h2>GradientOne Canvas</h2>
                <p></p>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="width: 180px;">
                <div class="panel-group" id="accordion" style="width: 140px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Instruments</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a>VSG</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>VNA</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>VCO</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>O-Scope</a>                             
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Measurements</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a ng-click="add()">Peak Power</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Spectral Mask</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Adjacent Channel Power</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Harmonics</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Sequencing</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a>DUT</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Subroutine</a> <span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Power Sweep</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span></span><a>Frequency Sweep</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Test Plans</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span></span><a>Components</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span></span><a>Standards</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span></span><a>Custom</a>
                                        </td>
                                    </tr>                                   
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
            <div class="col-md-3" style="width: 300px; margin-top: 10px;">
                <div ng-repeat="item in items" class="well well-sm">
                    <h4><a class="btn btn-inverse glyphicon glyphicon-menu-right" data-toggle="collapse" href="#volt" aria-expanded="false" aria-controls="collapseExample" style="">
                    </a>Peak Power<a class="btn btn-default glyphicon glyphicon-menu-up" style="float: right;"></a>
                    <a class="btn btn-default glyphicon glyphicon-menu-down" style="float: right;"></a>
                    </h4>
                    <div class="collapse" id="volt">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Trigger Delay</span>
                            <select class="form-control">                          
                                <option>External</option>
                                <option>RF Burst</option>
                                <option>Free Run</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Bandwidth</span>
                            <input type="text" class="form-control" placeholder="Hz" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Trigger Delay</span>
                            <input type="text" class="form-control" placeholder="&mu;Sec" aria-describedby="basic-addon1">
                        </div>
                        <div class="btn-group btn-group-sm" style=" left: 25%; margin-top: 10px;"role="group">
                            <button type="button" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-success">Execute</button>
                            <button type="button" class="btn btn-danger" ng-click="remove($index)">Delete</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>       
        
        <div class="row">
            <nav>
                <ul>
                    <div id="chart1" class="col-md-4 hoverzoom"</div>
                </ul>
                <ul>
                    <div id="chart2" class="col-md-4 hoverzoom"></div>
                </ul>
                <ul>
                    <div id="chart3" class="col-md-4 hoverzoom"></div>
                </ul>               
            </nav>             
        </div> 
        <hr>
    </div> 
    <script type="text/javascript">$('#collapseOne').collapse("hide");</script><!--stops accordion from loading open -->
</body>
</html>