{% extends "base.html" %}

{% block import %}

<!DOCTYPE html>
<html>
<head>
<title>GradientOne Import</title>

  
  <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">  
  <link type="text/css" rel="stylesheet" href="../static/css/adduser.css" />
  
</head>
<body id="background">
  <div class="">
    <div id="headbar">
    <img class="logo" src="../static/images/Glogo.png" style="width:110px; float:left;" alt="Gradient One logo"> 
    <h1 style="float:left">Account Management</h1>
    </div>     
      <div class="col-md-6" id="adduserbox">
        <h2>Add User</h2>      
        <form method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
            <li class="error">
            {{error_name}}
            </li>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Email" value="{{email}}">
            <li class="error">
            {{error_email}}
            </li>
          </div>
          <div class="form-group">
            <p>Permissions:</p>
            <select name="permissions"> 
            <option value="admin">Admin</option>
            <option value="write">Active User</option>
            <option value="read">Read Only User</option>
          <input class="hidden" name="company_nickname" value="{{company_nickname}}">
          <button type="submit" class="btn btn-success">Submit</button>        
        </form>
      </div>
  </div>
</body>
</html>

{% endblock %}