{% extends "base.html" %}

{% block import %}

<html>
  <head>
    <title>Add User ({{admin_email}})</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Add User</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            User Email
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
          <td class="error">
            {{error_email}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Company Name
          </td>
          <td>
            <input type="text" name="companyname" value="{{companyname}}">
          </td>
          <td class="error">
            {{error_companyname}}
          </td>
        </tr>

        <tr>
          <td>
            Administrator
          </td>
        <td>
          <input type="checkbox" name="admin">
        </td>
        </tr>
      </table>

      <input type="submit">
    </form>
  </body>

</html>

{% endblock %}
