{% extends "base.html" %}

{% block import %}

<html>
  <head>
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">  
    <link type="text/css" rel="stylesheet" href="/static/css/adduser.css" />
    <style type="text/css">
      td { padding: 10px;}
    </style>
  </head>

<body id="background">
  <div class="">
    <div id="headbar">
    <img class="logo" src="/static/images/Glogo.png" style="width:110px; float:left;" alt="Gradient One logo"> 
    <h1 style="float:left">Admin Account Management</h1>
    </div> 
    <h2>Users</h2>
    <div class="col-md-6 col-md-offset-1">
      <a href="/profile">Return to Profile</a>
      <table cellpadding="5">
      <tr><th>email</th><th>company</th><th>admin</th><th>groups</th><th>edit</th></tr>
      {% for profile in profiles %}
        <tr>
         <td>{{profile.email}}</td>
         <td>{{profile.company_nickname}}</td>
         <td>{{profile.admin}}</td>
         <td>
         {% for group in profile.groups %}
         {{group}},
         {% endfor %}
         </td>
         <td>
         <form action="/listusers" method="post">
           <input type="text" name="group" value="{{group}}" placeholder="add new group">
           <input type="text" name="group_to_delete" value="{{group_to_delete}}" placeholder="group to remove">
           <input type="hidden" name="user_email" value={{profile.email}}>
           <input type="submit">
         </form>
         </td>
       </tr>
      {% endfor %}
      </table>
      <a href="/adduser">Add a User</a><br>
    </div>
  </div>
</body>

</html>

{% endblock %}
