{% extends "one.html" %}
{% block title %} Analysis {% endblock %}
{% block head %}
{{ super() }}
<title> {{ self.title() }} </title>
<style type="text/css">
  .label {text-align: right}
  .error {color: red}
  #query {color: black;}
  body {color: white;}
  td,th {padding:0 5px 0 5px;}
</style>
{% endblock %}
{% block content %}
  <div class="col-md-12 canv">
    <h1 class="headr"> {{ self.title() }} </h1>
  </div>
  <form name="searchform" action="/search" method="post">
    <input type="hidden" name="download_key" value="{{download_key}}"/>
    <input type="text" id="query" name="query" size="80" value="{{base_query}}" />
    <input type="submit" class="btn" name="searchsub" value="Search"/>
    <input type="reset" class="btn" name="searchreset" value="Clear"/>
  </form>
  <table style="width:100%">
    <form name "selectForm" action="/selectedreports" method="post">
    <!-- <form name "selectForm" action="/docselect" method="post"> -->
      <tr>
        <th>SELECT</th>
        <th>Start Time</th>
        <th>Correction Freq (Hz)</th>
        <th>Max</th>
        <th>Min</th>
        <th>Offset (dBm)</th>
        <th>Pass Fail Type</th>
        <th>Test Plan?</th>
        <th>Pass / Fail</th>
        <th>Hardware Name</th>
        <th>Data (dBm)</th>
        <th>Instrument</th>
        <th>Config Name</th> 
        <th>Testplan Name or Trace Name</th> 
      </tr>
      {% for key,fields in results.iteritems() %}
        <tr>
        <td><input type="checkbox" name="doc_ids" value = "{{key}}"></td>
        {% for item in fields %}
           {% if item.name != 'start_tse' %}<td> {{ item.value }} </td>{% endif %}
        {% endfor %}
        </tr>
      {% endfor %}
      <input type="submit" class="btn-sm btn-primary" name="selected" value="Analyze Selected">
    </form>
    &nbsp;
    <form name "export" action="/doc_export" method="post">
      <input type="submit" class="btn-sm btn-primary" value="Export Page">
      <input type="hidden" name="download_key" value="{{download_key}}">
    </form>
  </table>
{% endblock %}  