{% extends "one.html" %}
{% block title %} Analysis {% endblock %}
{% block head %}
{{ super() }}
<title> {{ self.title() }} </title>
<style type="text/css">
  .label {text-align: right}
  .error {color: red}
  #query {color: black;}
  body {color: white;}
  td,th {padding:0 5px 0 5px;}
</style>
{% endblock %}
{% block content %}
  <div class="col-md-12 canv">
    <h1 class="headr"> {{ self.title() }} </h1>
  </div>
  <form name="searchform" action="/search" method="post">
    <input type="hidden" name="download_key" value="{{download_key}}"/>
    <table>
    <tr>
    <td>
     <input type="text" id="query" name="query" size="80" value="{{base_query}}" />
    </td>
    <tr>
    <td>
     <input type="submit" class="btn primary"  name="searchsub" value="Search"/>
     <input type="reset" class="btn primary"  name="searchreset" value="Clear"/>
    </td><td></td><td></td></tr>
    </table>
  </form>
  <table style="width:100%">
    <a href ="blob_export/{{download_key}}">export</a>
    <form name "selectForm" action="/search" method="post">
      <tr>
        <th>SELECT</th>
        <th>Start Time</th>
        <th>Correction Freq (Hz)</th>
        <th>Max</th>
        <th>Min</th>
        <th>Offset (dBm)</th>
        <th>Pass Fail Type</th>
        <th>Test Plan?</th>
        <th>Pass / Fail</th>
        <th>Hardware Name</th>
        <th>Data (dBm)</th>
        <th>Instrument</th>
        <th>Config Name</th> 
        <th>Testplan Name or Trace Name</th> 
      </tr>
      {% for entry in result %}
        <tr>
        <td><input type="checkbox" name="test_batch" value = "{{entry.start_tse}}"></td>
        {% for item in entry %}
           <td> {{ item.value }} </td>
        {% endfor %}
        </tr>
      {% endfor %}
    </form>
  </table>
{% endblock %}  