{% extends "one.html" %}
{% block title %} Test Ops {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        label {color: white;}
        #community-navlink {color: rgb(123,175,46);}
    </style>
{% endblock %}
{% block content %}
<div class="well com">
    <h2>GradientOne Community</h2>
    <p></p>            
    <div>
        <ul class="nav nav-pills">
          <li role="presentation"><a href="#">Popular</a></li>
          <li role="presentation"><a href="#">New</a></li>
          <li role="presentation"><a href="#">Following</a></li>
        </ul>
    </div> 
    <div class="row">
        <form class="navbar-form navbar-center" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" style="width: 100px;">
          </div>
          <button type="submit" class="btn btn-inverse glyphicon glyphicon-search"></button>
        </form>
    </div>
</div>
<h3>Company Posts</h3>
<div class="row">

    {% for post in group_posts: %}
    <div class="col-md-6 well well-sm" style="width: 300px; margin-left: 15%; background-color: lightgray;">
        <h4>{{post.title}}</h4> 
        <p>Posted by: {{post.author}}</p>
        <p>Shared to: "{{post.privacy}}"</p>
        <a href="#">Likes<span class="badge">2</span></a>
        <a href="#">Comments<span class="badge">4</span></a>
        <a href="#">Shares<span class="badge">2</span></a>
        <a class="btn btn-default glyphicon glyphicon-menu-down" data-toggle="collapse" href="#{{post.key().id()}}" aria-expanded="false" aria-controls="{{post.key().id()}}" style=""></a>
        
        <div class="collapse" id="{{post.key().id()}}">
            <form action="/saveposttotest" method="post">
                <div class="well well-sm" style="margin-top: 10px;">
                  Company: {{post.company_nickname}}
                  <br>
                  Test Plan: {{post.test_ref.testplan_name}}
                  <br>
                  Created: {{post.test_ref.date_created}}
                  <br>
                    <ul>
                      <li>Using PTEQ Firmware set the DUT in the transmitter mode</li>
                    </ul>
                    <ul>
                      <li>Set the DUT in continuous unmodulated wave</li>
                    </ul>
                    <ul>
                      <li>Set Nominal Power</li>
                    </ul>
                </div>
                <button class="btn sel" type="submit" name="postkey" value="{{post.key()}}">Save to Library</button>
            </form>
        </div>
    </div>
    {% set g_count = g_count + 1 %}
    {% endfor %}
</div>


<hr>

<h3> Public Posts </h3>
<div class= "row">
    {% for post in public_posts: %}
    <div class="col-md-6 well well-sm" style="width: 300px; margin-left: 15%; background-color: lightgray;">
        <h4>{{post.title}}</h4> 
        <p>Posted by: {{post.author}}</p>
        <p>Shared to: "{{post.privacy}}"</p>
        <a href="#">Likes<span class="badge">2</span></a>
        <a href="#">Comments<span class="badge">4</span></a>
        <a href="#">Shares<span class="badge">2</span></a>
        <a class="btn btn-default glyphicon glyphicon-menu-down" data-toggle="collapse" href="#{{post.key().id()}}" aria-expanded="false" aria-controls="{{post.key().id()}}" style=""></a>
        
        <div class="collapse" id="{{post.key().id()}}">
            <form action="/saveposttotest" method="post">
                <div class="well well-sm" style="margin-top: 10px;">
                  Company: {{post.company_nickname}}
                  <br>  
                  Test Flow for {{post.test_ref.testplan_name}}
                  <br>
                  Created: {{post.test_ref.date_created}}
                  <br>
                    <ul>
                      <li>Using PTEQ Firmware set the DUT in the transmitter mode</li>
                    </ul>
                    <ul>
                      <li>Set the DUT in continuous unmodulated wave</li>
                    </ul>
                    <ul>
                      <li>Set Nominal Power</li>
                    </ul>
                </div>
                <button class="btn sel" type="submit" name="postkey" value="{{post.key()}}">Save to Library</button>
            </form>
        </div>
    </div>
    {% set p_count = p_count + 1 %}
    {% endfor %}
</div>
<hr>
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <form action="/community" method="post">
            <label for="title">Post Title:</label>                    
            <input type="text" name="title" value="{{title}}">
            <br>
            <label for="testkey">Test Plan:</label>
            <select name="testkey">
            {% for test in tests %}
            <option value="{{test.key()}}">{{test.testplan_name}}</option>
            {% endfor %}
            </select>
            <br>
            <label for="privacy">Sharing:</label>
            <select name="privacy">
                <option value="public"> Public </option>
                <option value="company"> Company </option>
                <option value="private"> Private </option>
                {% for group in profile.groups %}
                <option value="{{group}}"> {{group}} </option>
                {% endfor %}
            </select>
            <br>
            <input type="submit">
            <br>
        </form>
    </div>
</div>
<script type="text/javascript">$('#collapseOne').collapse("hide");</script><!--stops accordion from loading open -->
{% endblock %}
