<!DOCTYPE html>
<html lang="en">
<head>
    <title>Community Page</title>
         
    <script src="../static/js/addons/jquery-1.11.3.js"></script>    
    <script src="../static/js/jquery-ui-1.11.4/jquery-ui.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>    
    <script src="../static/js/addons/lodash.js"></script>  
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../static/js/chart1.js"></script>
    <script type="text/javascript" src="../static/js/chart2.js"></script>
    <script type="text/javascript" src="../static/js/chart3.js"></script>  
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="../static/css/hoverzoom.css">
    <script src="../static/js/addons/angular.min.js"></script>
    <script type="text/javascript" src="../static/js/addons/clickadd.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/testConfig.css">
    <link rel="stylesheet" type="text/css" href="../static/css/testResultsList.css">
    <style type="text/css"></style>

</head>

<body id="mainBackground">
    <div class="container">       
        <nav class="navbar navbar-inverse navbar-collapse collapse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img class="logo" src="../static/images/Glogo.png" style="width:110px;" alt="Gradient One Logo">
                    </div>
                    <div id="navbar">
                        <ul class="topmenu nav navbar-nav">
                            <li><a href="testresults">CANVAS</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="instruments">INSTRUMENTS</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="community">COMMUNITY</a></li>          
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li><a class="glyphicon glyphicon-envelope" href="../navbar-static-top/"></a></li>
                          <li><a class="glyphicon glyphicon-bell" href="../navbar-static-top/"></a></li>
                          <li><a class="glyphicon glyphicon-user" href="../navbar-fixed-top/">Profile</a></li>
                        </ul>
                    </div>
                </div>
        </nav>
        <div class="well com">
            <h2>GradientOne Community</h2>
            <p></p>            
            <div>
                <ul class="nav nav-pills">
                  <li role="presentation"><a href="#">Popular</a></li>
                  <li role="presentation"><a href="#">New</a></li>
                  <li role="presentation"><a href="#">Following</a></li>
                </ul>
            </div> 
            <div class="row">
                <form class="navbar-form navbar-center" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" style="width: 100px;">
                  </div>
                  <button type="submit" class="btn btn-inverse glyphicon glyphicon-search"></button>
                </form>
            </div>
        </div>
        <h3>Popular</h3>
        <div class="row">
            <div class="col-md-6 well well-sm" style="width: 300px; margin-left: 15%; background-color: lightgray;">
                <h4>Zigbee Production Test: RFTx</h4> 
                <p>Posted by: John Doe</p>
                <a href="#">Likes<span class="badge">22</span></a>
                <a href="#">Comments<span class="badge">6</span></a>
                <a href="#">Shares<span class="badge">3</span></a>
                <a class="btn btn-default glyphicon glyphicon-menu-down" data-toggle="collapse" href="#1" aria-expanded="false" aria-controls="1"></a>
                
                <div class="collapse" id="1">
                    <div class="well well-sm" style="margin-top: 10px;">
                      Test Flow:
                        Test Flow:
                        <ul>
                          <li>Using PTEQ Firmware set the DUT in the transmitter mode</li>
                        </ul>
                        <ul>
                          <li>Set the DUT in continuous unmodulated wave</li>
                        </ul>
                        <ul>
                          <li>Set Nominal Power</li>
                        </ul>
                        <ul>
                          <li>Using the VSA: Measure Output power</li>
                        </ul>
                        <ul>
                          <li>Set the DUT to send PER packets</li>
                        </ul>
                        <ul>
                          <li>Measure PER &lt; 1% at test instrument</li>
                        </ul>
                    </div>
                    <button class="btn">Select</button>
                </div>
            </div>
            <div class="col-md-6 well well-sm" style="width: 300px; margin-left: 15%; background-color: lightgray;">
                <h4>802.11g Base Station</h4> 
                <p>Posted by: John Smith</p>
                <a href="#">Likes<span class="badge">12</span></a>
                <a href="#">Comments<span class="badge">2</span></a>
                <a href="#">Shares<span class="badge">1</span></a>
                <a class="btn btn-default glyphicon glyphicon-menu-down" data-toggle="collapse" href="#2" aria-expanded="false" aria-controls="2" style=""></a>
                
                <div class="collapse" id="2">
                    <div class="well well-sm" style="margin-top: 10px;">
                      Test Flow:
                        <ul>
                          <li>Using PTEQ Firmware set the DUT in the transmitter mode</li>
                        </ul>
                        <ul>
                          <li>Set the DUT in continuous unmodulated wave</li>
                        </ul>
                        <ul>
                          <li>Set Nominal Power</li>
                        </ul>
                    </div>
                    <button class="btn">Select</button>
                </div>
            </div>
            <div class="col-md-6 well well-sm" style="width: 300px; margin-left: 15%; background-color: lightgray;">
                <h4>VCO for new analyzer</h4> 
                <p>Posted by: Dan Gleesac</p>
                <a href="#">Likes<span class="badge">7</span></a>
                <a href="#">Comments<span class="badge">6</span></a>
                <a href="#">Shares<span class="badge">2</span></a>
                <a class="btn btn-default glyphicon glyphicon-menu-down" data-toggle="collapse" href="#3" aria-expanded="false" aria-controls="3" style=""></a>
                
                <div class="collapse" id="3">
                    <div class="well well-sm" style="margin-top: 10px;">
                      Test Flow:
                        <ul>
                          <li>Using PTEQ Firmware set the DUT in the transmitter mode</li>
                        </ul>
                        <ul>
                          <li>Set the DUT in continuous unmodulated wave</li>
                        </ul>
                        <ul>
                          <li>Set Nominal Power</li>
                        </ul>
                    </div>
                    <button class="btn sel">Select</button>
                </div>
            </div>
            <div class="col-md-6 well well-sm" style="width: 300px; margin-left: 15%; background-color: lightgray;">
                <h4>FCT test Nokia</h4> 
                <p>Posted by: Anonymous</p>
                <a href="#">Likes<span class="badge">3</span></a>
                <a href="#">Comments<span class="badge">1</span></a>
                <a href="#">Shares<span class="badge">0</span></a>
                <a class="btn btn-default glyphicon glyphicon-menu-down" data-toggle="collapse" href="#4" aria-expanded="false" aria-controls="4" style=""></a>
                
                <div class="collapse" id="4">
                    <div class="well well-sm" style="margin-top: 10px;">
                      Test Flow:
                        <ul>
                          <li>Using PTEQ Firmware set the DUT in the transmitter mode</li>
                        </ul>
                        <ul>
                          <li>Set the DUT in continuous unmodulated wave</li>
                        </ul>
                        <ul>
                          <li>Set Nominal Power</li>
                        </ul>
                    </div>
                    <button class="btn sel">Select</button>
                </div>
            </div>
            <div class="col-md-6 well well-sm" style="width: 300px; margin-left: 15%; background-color: lightgray;">
                <h4>ATE Diagnostics</h4> 
                <p>Posted by: John Gradient</p>
                <a href="#">Likes<span class="badge">2</span></a>
                <a href="#">Comments<span class="badge">4</span></a>
                <a href="#">Shares<span class="badge">2</span></a>
                <a class="btn btn-default glyphicon glyphicon-menu-down" data-toggle="collapse" href="#5" aria-expanded="false" aria-controls="5" style=""></a>
                
                <div class="collapse" id="5">
                    <div class="well well-sm" style="margin-top: 10px;">
                      Test Flow:
                        <ul>
                          <li>Using PTEQ Firmware set the DUT in the transmitter mode</li>
                        </ul>
                        <ul>
                          <li>Set the DUT in continuous unmodulated wave</li>
                        </ul>
                        <ul>
                          <li>Set Nominal Power</li>
                        </ul>
                    </div>
                    <button class="btn sel">Select</button>
                </div>
            </div>
        </div>
        
        <hr>
    </div> 
    <script type="text/javascript">$('#collapseOne').collapse("hide");</script><!--stops accordion from loading open -->
</body>
</html>