{% extends "base.html" %}

{% block import %}

<html>
  <head>
    <title>Config Input </title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Configuration Input</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Company Nickname
          </td>
          <td>
            <input type="text" name="company_nickname" value="{{company_nickname}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Hardware Name
          </td>
          <td>
            <input type="text" name="hardware_name" value="{{hardware_name}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Instrument Type
          </td>
          <td>
            <input type="text" name="instrument_type" value="{{instrument_type}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Instrument Name
          </td>
          <td>
            <input type="text" name="instrument_name" value="{{instrument_name}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Oscilloscope Setting:  Source
          </td>
          <td>
            <input type="text" name="source" value="{{source}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Oscilloscope Setting:  Horizontal Position
          </td>
          <td>
            <input type="text" name="horizontal_position" value="{{horizontal_position}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Oscilloscope Setting:  Horizontal Seconds Per Division
          </td>
          <td>
            <input type="text" name="horizontal_seconds_per_div" value="{{horizontal_seconds_per_div}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Oscilloscope Setting:  Vertical Position
          </td>
          <td>
            <input type="text" name="vertical_position" value="{{vertical_position}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Oscilloscope Setting:  Vertical Volts Per Division
          </td>
          <td>
            <input type="text" name="vertical_volts_per_divsision" value="{{vertical_volts_per_divsision}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Oscilloscope Setting:  Trigger Type
          </td>
          <td>
            <input type="text" name="trigger_type" value="{{trigger_type}}">
          </td>
        </tr>

      </table>

      <input type="submit">
    </form>
  </body>

</html>

{% endblock %}