<html>
    <head> 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1', {'packages':['corechart']});
      
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    function readTextFile(file)
    {
        var allText;
        var rawFile = new XMLHttpRequest();
        rawFile.open("GET", file, false);
        rawFile.onreadystatechange = function ()
        {
            if(rawFile.readyState === 4)
            {
                if(rawFile.status === 200 || rawFile.status == 0)
                {
                    var allText = rawFile.responseText;
                    //alert(allText);
                }
            }
        }
        rawFile.send(null);
        return allText;
    }  

    function drawChart() {
    
        var jsonData = {
          
    cols: [{id: 'freq', label: 'Frequency', type: 'number'},
           {id: 'db11', label: 'CH1', type: 'number'},{id: 'db12', label: 'CH2', type: 'number'}],
    rows: [
    {% for d in datasets %} 
           {c:[{v: {{d.frequency}}}, {v: {{d.S11dB}}}, {v: {{d.S12dB}}}]},

             {% endfor %}
           ]
        } 

          var options = {
            title: 'MMIC Amplifier @ +85degC',
            titleTextStyle: {color:'black', fontSize: 15},
            legend: {alignment:'center'},
            hAxis: {title: 'Frequency'},
            vAxis: {title: 'dB'},
            backgroundColor: {color: 'white', stroke: 'silver', strokeWidth: 3,},                 
            colors: ['rgb(248,157,0)','rgb(75,19,115)'],
          }
        //jsonData = readTextFile("file:///Users/william/Desktop/GoogleCharts/freqDb.txt");

          // Create our data table out of JSON data loaded from server.
          var data = new google.visualization.DataTable(jsonData);

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.LineChart(document.getElementById('nickschart'));
          chart.draw(data, {width: 300, height: 200});
          chart.draw(data, options);
        }
    </script>

</head>
  <body>
    <div id="nickschart" class="col-md-4"></div>
  </body>
</html>
 


{% extends "base.html" %}

{% block import %}
  
   {% for d in datasets %}  
    
    <a href="data/{{ d.description | safe }}">{{ d.description | safe }}</a>
    Frequency = {{ d.frequency  }}
    S11dB = {{  d.S11dB }} 
    S12dB = {{ d.S12dB }}
    <br><br>
  {% endfor %}



{% endblock %}


