<!DOCTYPE html>

<html lang="en">
<head>
    <title>iCanvas Page</title>
         
    <script src="../static/js/addons/jquery-1.11.3.js"></script>    
    <script src="../static/js/jquery-ui-1.11.4/jquery-ui.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>    
    <script src="../static/js/addons/lodash.js"></script>  
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../static/js/chart1.js"></script>
    <script type="text/javascript" src="../static/js/chart2.js"></script>
    <script type="text/javascript" src="../static/js/chart3.js"></script>
    <script type="text/javascript" src="../static/js/addons/appDrag.js"></script>
     
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="../static/css/hoverzoom.css">
    <link rel="stylesheet" type="text/css" href="../static/css/fonts/stylesheet.css" charset="utf-8" /> 
    <script src="../static/js/addons/angular.min.js"></script>
    <script type="text/javascript" src="../static/js/addons/clickadd.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/testConfig.css">
    <link rel="stylesheet" type="text/css" href="../static/css/canvasApp.css">
    <style type="text/css"></style>
</head>

<body id="mainBackground">
    <div class="container">       
        <nav id="topNavBar" class="navbar navbar-inverse navbar-collapse collapse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img class="logo" src="../static/images/Glogo.png" style="width:110px;" alt="Gradient One logo">
                    </div>
                    <div id="navbar">
                        <ul class="topmenu nav navbar-nav">
                            <li><a href="testresults" style="color: rgb(124,175,46);">CANVAS</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="instruments">INSTRUMENTS</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="testlibrary">TEST LIBRARY</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="community">COMMUNITY</a></li>            
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li><a class="glyphicon glyphicon-envelope" href="../navbar-static-top/"></a></li>
                          <li><a class="glyphicon glyphicon-bell" href="../navbar-static-top/"></a></li>
                          <li><a class="glyphicon glyphicon-user" href="../navbar-fixed-top/">Profile</a></li>
                        </ul>
                    </div>
                </div>
        </nav>
        <div class="row">
            <div class="col-md-12 canv" style="">
                <h1 id="headr">GradientOne Canvas</h1>
                <p></p>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="width: 180px; margin-top: 20px;">
            <button id="newTestBtn" class="btn btn-default tog" href="#collapseNewTest">NEW TEST</button>
            <button id="newTestBtn" class="btn btn-default" href="">OLD TEST</button>
                <div class="panel-group" id="accordion" style="width: 140px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Configs</a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a>VSG</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>VNA</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>VCO</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a id="OScope">O-Scope</a>                             
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Measurements</a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a>Peak Power</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Spectral Mask</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>RMS</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Harmonics</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Sequencing</a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a id="DUT">DUT</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Subroutine</a> <span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Power Sweep</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span></span><a>Frequency Sweep</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Test Plans</a>
                            </h5>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span></span><a>Components</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span></span><a>Standards</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span></span><a>Custom</a>
                                        </td>
                                    </tr>                                   
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


<!-- TEST SPACE -->    
            <fieldset class="col-md-12" id="canvasBox" style="width: 80%;">
                <span class="spacer"></span><legend class="text-uppercase" style="width: 118px;">Test Space</legend><span class="spacer"></span>
<!--NEW TEST PLAN-->
                <div class="appBox menu collapseNewTest" id="">
                    <div class="row"> 
                        <form method="post">
                            <div class="col-md-4">
                                <h3 style="text-align:left; color:white; margin-left:10px;">Test Plan Name :</h3>
                            </div>
                            <div class="col-md-3">
                                <tr>
                                    <td class="label">  
                                      <input class="nameTestInput" type="text" name="testplan_name" value="{{testplan_name}}" placeholder="name goes here">
                                      <input type="hidden" name="company_nickname" value="Acme">
                                      <input type="hidden" name="hardware_name" value="Tahoe">
                                      <input type="hidden" name="instrument_type" value="BitScope">
                                      <input type="hidden" name="author" value="nedwards">
                                      <input type="hidden" name="testpost" value=True>
                                    </td>
                                </tr>
                            </div>       
                            <input id="nameSubmitBtn" type="submit" value="SUBMIT" style="">
                        </form>
                    </div>       
                </div>

                <input type="hidden" value="0" id="theValue" />
                <div id="testPlan" class="droppable">
                </div>
<!--START TIME-->
                <div class="startTimeBox menu collapseStartTest" id="">
                    <div class="row"> 
                        <form method="post">
                            <div class="col-md-4">
                                <h3 style="text-align:left; color:white; margin-left:10px;">Test Start Time :</h3>
                            </div>
                            <div class="col-md-3">
                                <tr>
                                    <td class="label">                                        
                                      <input class="nameTestInput" type="text" name="start_time" value="{{start_time}}" placeholder="time goes here">
                                      <input type="hidden" name="company_nickname" value="Acme">
                                      <input type="hidden" name="timepost" value=True>
                                    </td>
                                </tr>
                                <p class="startNowLabel">Start Now:</p> 
                                <td>                                          
                                  <input class="startNow" type="checkbox" name="start_measurement_now">
                                  <input type="hidden" name="timepost" value=True>
                                </td>
                            </div>       
                            <input id="nameSubmitBtn" type="submit" value="SUBMIT" style="">
                        </form>
                    </div>       
                </div>        
            </fieldset>
        </div>
<!--TEST REEL-->      
        <fieldset id='reelTitle'><legend style="text-align:center; width: 120px; color:white">Test Reel</legend></fieldset>
        <div class="row">
            <div id="chart1" class="col-md-4 hoverzoom" style="height: 200px;"></div>  
            <div id="chart2" class="col-md-4 hoverzoom"></div>               
            <div id="chart3" class="col-md-4 hoverzoom"></div>             
        </div> 
        <hr>
    </div> 
    <script type="text/javascript" src="../static/js/widgets/instruments.js"></script>
    <script type="text/javascript" src="../static/js/widgets/DUT.js"></script>

    <script type="text/javascript">
    $('#collapseOne').collapse("hide");
    //$("#accordion").prop('disabled', true);
    $("#accordion").hide();
     </script>
    <!--stops accordion from loading open -->
    <script type="text/javascript">
    //NEW TEST BUTTON
    $(document).ready(function () {
      $(".collapseNewTest").hide();
      $(".collapseStartTest").hide();
      $(".tog").click(function () {
          $("#accordion").show();  
          $(".collapseNewTest").fadeIn("fast"); 
      });
    });
    
    </script>
</body>
</html>
