{% extends "one.html" %}
{% block title %} Canvas {% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/addons/appDrag.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/savedTestPlans.css"> 
    <script type="text/javascript" src="/static/js/addons/clickadd.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/canvasApp.css">
    <style type="text/css">
        #canvas-navlink {color: rgb(124,175,46);}
        #FlashBox h3 {color: orange; }
        .headr {color: white;}
    </style>
{% endblock %}
{% block content %}        
        <div class="row">
            <div class="col-md-4" style="margin-left: 25px;">
                <h1 class="headr"> Canvas </h1>
            </div>
            <div class="col-md-7">
                <span id="FlashBox"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="width: 180px; margin-top: 20px;">
            <button id="newTestBtn" class="btn btn-default tog" href="#collapseNewTest" onclick="checkTextField()">NEW TEST</button>
            <button id="newTestBtn" class="btn btn-default savedTests">SAVED TEST</button>
                <div class="panel-group" id="accordion" style="width: 140px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">DUT</a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table" style="margin-bottom:0px;">
                                    <tr>
                                        <td>
                                            <a id='newDUT'>NEW</a>
                                        </td>
                                    </tr>    
                                </table>
                                <table id="savedDuts" class="table"></table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Configs</a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table" style="margin-bottom:0px;">
                                    <!--BitScope-->
                                    <tr>
                                        <p>
                                            <span id="bitScopeBack" class="glyphicon glyphicon-chevron-left"></span><span id="bitScope">BitScope</span>
                                        </p>
                                    </tr>
                                    <td id="bitScopeMenu">
                                        <a id="newConfig">NEW</a>
                                        <table id="savedConfigs" class="table"></table>
                                    </td>
                                    <!--U2001A-->

                                    <tr>
                                        <p>
                                            <span id="U2001ABack" class="glyphicon glyphicon-chevron-left"></span><span id="U2001A">U2001A</span>
                                        </p>
                                    </tr>
                                    <td id="U2001AMenu">
                                        <a id="newU2001A">NEW</a>
                                        <table id="savedU2001As" class="table"></table>
                                    </td>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Measurements</a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a id="measure">Measure</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a id="RMS">RMS</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Peak Power</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Harmonics</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


<!-- TEST SPACE -->    
            <fieldset class="col-md-12" id="canvasBox" style="width: 80%;">
                <span class="spacer"></span><legend class="text-uppercase" style="width: 118px;">Test Space</legend><span class="spacer"></span>
<!--NEW TEST PLAN-->
                <div class="testSetupBox menu collapseNewTest" id="testSetup">   
                    <form method="post">
                        <div class="row"> 
                            <div class="col-md-4">
                                <h3 class="testSetupLabel">Test Plan Name :</h3>
                            </div>
                            <div class="col-md-5" style="height: 35px;">
                                <tr>
                                    <td class="label">  
                                      <input id="tesPlanName" class="nameTestInput" type="text" onkeydown="checkTextField();" onBlur="checkTestName();" value="" placeholder="name goes here">
                                    </td>
                                </tr>
                                <div class="opsStartBox">
                                    <p class="opsStartLabel">Operator Start</p> 
                                    <td>                                          
                                      <input id="opsStartCheck" class="opsStart" type="checkbox" name="ops_start">
                                      <input type="hidden" name="ops_start" value=True>
                                    </td>  
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="testSetupLabel">Test Start Time :</h3>
                            </div>
                            <div class="col-md-4" style="height:25px;">
                                <tr>
                                    <td class="label">                                        
                                      <input class="nameTestInput" id="start_time" type="text" name="start_time" value="" placeholder="time goes here">
                                      <input type="hidden" name="company_nickname" value="{{profile.company_nickname}}">
                                      <input type="hidden" name="timepost" value=True>
                                    </td>
                                </tr>
                                <div class="startNowBox">
                                    <p class="startNowLabel">Start Now</p> 
                                    <td>                                          
                                      <input id="startNowCheck" class="startNow" type="checkbox" name="start_measurement_now">
                                      <input type="hidden" name="timepost" value=True>
                                    </td>  
                                </div>                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="testSetupLabel">Test Plan Summary :</h3>
                            </div>
                            <div class="col-md-4" style="height:25px;">
                                <tr>
                                    <td class="label">                                        
                                      <input class="nameTestInput" id="summary" type="text" name="summary" value="" placeholder="summary goes here">
                                      <input type="hidden" name="company_nickname" value="{{profile.company_nickname}}">
                                      <input type="hidden" name="timepost" value=True>
                                    </td>
                                </tr>                              
                            </div>
                        </div>
                    </form>                                 
                </div>
<!--WIDGETS go HERE-->
                <div id="testPlan" class="droppable"></div>
<!--COMMIT TEST-->
                <div class="commitBox menu collapseCommitTest" id="">
                    <div class="row">    
                        <input id="commitBtn" type="submit" value="COMMIT" style="">      
                    </div>       
                </div> 
<!--SAVED TEST PLANS-->
                <div id="savedTestPlans" class="savedTestsBox"></div>    
            </fieldset>
        </div>
<!--TEST REEL-->      
        <fieldset id='reelTitle'><legend style="text-align:center; width: 120px; color:white">Test Reel</legend></fieldset>
        <div class="row">
            <div id="chart1" class="col-md-4 hoverzoom" style="height: 200px;"></div>  
            <div id="chart2" class="col-md-4 hoverzoom"></div>               
            <div id="chart3" class="col-md-4 hoverzoom"></div>             
        </div> 
        <hr>
    <!-- </div>  -->

    <script type="text/javascript" src="../static/js/widgets.js"></script>

    <script type="text/javascript">
    $(function() {
      $("#start_time").datepicker();
    });

    $('#collapseOne').collapse("hide");
    $(".savedTestsBox").hide();
    
    $("#accordion").hide();
    </script>
    <!--stops accordion from loading open -->
    <script type="text/javascript">

    
    $(document).ready(function () {
    //CONFIG SELECTION MENU

      $("#bitScopeMenu").hide();
      $("#U2001AMenu").hide();
      $("#bitScopeBack").hide();
      $("#U2001ABack").hide();
      
      //BIT SCOPE
      $("#bitScope").click(function () {
          $("#bitScopeMenu").fadeIn("fast");
          $("#bitScopeBack").fadeIn("fast");
          $("#U2001A").hide(); 
      });
      $("#bitScopeBack").click(function () {
          $("#U2001A").fadeIn("fast");
          $("#bitScope").fadeIn("fast");
          $("#bitScopeBack").hide();
          $("#bitScopeMenu").hide();   
      });
      //U2001A POWER METER
      $("#U2001A").click(function () {
          $("#U2001AMenu").fadeIn("fast");
          $("#U2001ABack").fadeIn("fast"); 
          $("#bitScope").hide(); 
      });
      $("#U2001ABack").click(function () {
          $("#U2001A").fadeIn("fast");
          $("#bitScope").fadeIn("fast");
          $("#U2001ABack").hide();
          $("#U2001AMenu").hide();   
      });
      

    //NEW TEST BUTTON
      $(".collapseNewTest").hide();
      $(".collapseCommitTest").hide();
      $(".tog").click(function () {
          $(".collapseNewTest").fadeIn("fast"); 
          $(".droppable").fadeIn("fast");
          $(".savedTestsBox").hide();
      });
      $(".savedTests").click(function () {
          $(".collapseNewTest").hide();
          $(".droppable").hide();
          $(".collapseCommitTest").hide();
          $("#accordion").hide();
          $(".savedTestsBox").fadeIn("fast");
      });
      $(".startNow").change(function (){
           if (this.checked) {
                console.log('start now checked');
                document.getElementById("start_time").disabled = true;
                document.getElementById("start_time").value = '';
           }else if(!this.checked) {
                console.log('start now unchecked');
                document.getElementById("start_time").disabled = false;
           } 
      });
    });     
    </script>
    <script type="text/javascript">
    var gVars = {}
    var savedResults;
    function createDut(index) {
        var savedSettings = savedResults.duts[index];
        addWidget('sdut',savedSettings);
        console.log('savedSettings = ',savedSettings);
        //console.log('createDut: index = ',index);
    }; 
    function createConfig(index) {
        var savedSettings = savedResults.configs[index]
        addWidget('sconfig',savedSettings);
    }; 
    function createU2001A(index) {
        var savedSettings = savedResults.u2000configs[index]
        addWidget('sU2001A',savedSettings);
    };
    function createMeasurement(index) {
        var savedSettings = savedResults.measurements[index]
        addWidget('smeasure',savedSettings);        
    }        

    function savedTestView(index) {
        console.log('View button clicked!') 
        //clear old test space to load fresh test
        var d = document.getElementById('testPlan');
        var children = d.childNodes;
        d.innerHTML = '';
        var testSetUp = document.getElementById('testSetup');
        var testSetUpInfo = testSetUp.childNodes;
        testSetUpInfo[1].children[0].children[1].children[0].value = '';
        testSetUpInfo[1].children[1].children[1].children[0].value = '';
        

        var testPlanName = document.getElementById("tesPlanName")
        console.log('savedResults: ', gVars.savedResults)
        var savedTestsJson = gVars.savedResults.tests[index];
        console.log('readOnlyViewer: savedTests = ', savedTestsJson);
        var savedOrder = savedTestsJson.order;
        console.log('savedTestView: savedOrder = ',savedOrder);

        var savedOrderSplit = savedOrder.split("'");
        savedOrderSplit = savedOrderSplit.splice(1,savedOrderSplit.length-2);
        for (var i=0;i<savedOrderSplit.length;i++) {
            if(savedOrderSplit[i] == ', u')
            savedOrderSplit.splice(i,1); 
        };
        
        console.log('savedTestView:Final savedOrderSplit = ',savedOrderSplit);
        console.log('savedTestView:Final savedOrderSplit.length = ',savedOrderSplit.length); 

        //Search for saved widgets loop... broken stops after i=0
        for (var h=0;h<savedOrderSplit.length;h++){
            console.log('h =', h);
            var widgetId = savedOrderSplit[h].split(":");
            console.log('for loop run!');

            console.log('savedTestView: widgetId =',widgetId);
            var widgetNames = widgetId[1];
            console.log('widgetNames',widgetNames);
            //IS IT A DUT?
            if(widgetId[0] === 'dut') {
                for (var i=0;i<savedDuts.length;i++) {
                    console.log('search for dut widget!');
                    //console.log('widgetId[1] =', widgetId[1]);
                    console.log('i =', i);
                    //console.log('savedDuts[i].dut_name =', savedDuts[i].dut_name);
                    var dutName = savedDuts[i].dut_name;
                    //console.log('dutName = ',dutName);
                    if(widgetId[1] === savedDuts[i].dut_name) {
                        createDut(i)
                        console.log('widget found!') 
                    }else if (widgetId[1] === '') {
                        addWidget('dut');
                        console.log('widget UNNAMED!')
                        break     
                    };
                };
            }else if(widgetId[0] === 'config'){
                console.log('search for config widget!');
                for (var i=0;i<savedConfigs.length;i++) {
                    console.log('search for config widget!')
                    if(widgetId[1] === savedConfigs[i].config_name) {
                        createConfig(i)
                    }else if (widgetId[1] === '') {
                    addWidget('config');
                    };
                };               
            }else if(widgetId[0] === 'measure'){
                console.log('found widgetId for measure!');
                for (var i=0;i<savedMeas.length;i++) {
                    console.log('search for config widget!')
                    if(widgetId[1] === savedMeas[i].meas_name) {
                        createMeasurement(i)
                    }else if (widgetId[1] === '') {
                    addWidget('measurement');
                    };
                };
            }else if(widgetId[0] === 'U2001A'){
                console.log('found widgetId for U2001A widget!');
                for (var i=0;i<savedU2001As.length;i++) {
                    console.log('search for U2001A widget!')
                    if(widgetId[1] === savedU2001As[i].config_name) {
                        createU2001A(i)
                    }else if (widgetId[1] === '') {
                        addWidget('U2001A');
                    };
                };  
            };
            console.log('IS THIS RUNNING?');
        };

        $(".savedTestsBox").hide(); 
        $(".collapseNewTest").fadeIn("fast"); 
        $(".droppable").fadeIn("fast");
        $(".collapseCommitTest").fadeIn("fast");
        $("#accordion").fadeIn("fast");
        

        document.getElementById("tesPlanName").value = savedTestsJson.testplan_name;
        document.getElementById("start_time").value = savedTestsJson.scheduled_start_time;

    };

$(document).ready(function () {
    //widget_url = 'https://gradientone-test.appspot.com/testresults/widgets/Acme.json';

    widget_url = window.location.origin + '/testresults/widgets/' + '{{profile.company_nickname}}' + '.json';
    console.log('widget_url', widget_url);
        $.ajax({
            async: true,
            url: widget_url,            
            dataType: 'json',
        }).done(function (results) {
            var savedWidgets = results
            savedConfigs = results.configs;
            savedDuts = results.duts;
            savedSeq = results.sequences;
            savedMeas = results.measurements;
            savedTests = results.tests;
            savedU2001As = results.u2000configs;

            savedResults = results;
            gVars.savedResults = savedResults;
            //console.log('Saved Widgets: results', results);
            console.log('Saved Widgets: savedConfigs', savedConfigs);
            console.log('Saved Widgets: savedDuts', savedDuts);
            console.log('Saved Widgets: savedMeas', savedMeas);
            console.log('Saved Widgets: savedSeq', savedSeq);
            console.log('Saved Widgets: savedTests', savedTests);
            console.log('Saved Widgets: savedU2001As', savedU2001As);
//SAVED TESTS
            var savedPlansHTML = "";
            for (var i=0;i<savedTests.length;i++) {
                $('.readOnlyView' + i).hide();
                savedPlansHTML+= "<h4 class='savedTestName'>" + savedTests[i].testplan_name + "</h4>";
                savedPlansHTML+= "<p class='savedDateCreated'>Date Created: " + savedTests[i].date_created + "</p>";
                savedPlansHTML+= "<button class='viewBtn btn btn-xs' onclick='savedTestView(" + i + ")'>View</button>";
                savedPlansHTML+= "<br>"      
            }; 
            document.getElementById("savedTestPlans").innerHTML = savedPlansHTML;
            
//SAVED DUTS
            var savedDutsHTML = "";
            savedDutsHTML += "<tr><td><p class='savedTitle'>Saved:</p></td></tr>";                    
            for (var i=0;i<savedDuts.length;i++){
                savedDutsHTML+= "<tr><td><a onclick='createDut(" + i + ")'>" + savedDuts[i].dut_name + "</a></td></tr>";                                                  
            };
            console.log('savedDutsHTML = ',savedDutsHTML);
            document.getElementById("savedDuts").innerHTML = savedDutsHTML;
// SAVED CONFIGS                      
            var savedConfigsHTML = "";
            savedConfigsHTML += "<tr><td><p class='savedTitle'>Saved:</p></td></tr>";
            for (var i=0;i<savedConfigs.length;i++){
                savedConfigsHTML+= "<tr><td><a onclick='createConfig(" + i + ")'>" + savedConfigs[i].config_name + "</a></td></tr>";                                                
            };
            console.log('savedConfigsHTML = ',savedConfigsHTML);
            document.getElementById("savedConfigs").innerHTML = savedConfigsHTML;
// SAVED U2001AS
            var savedU2001AsHTML = "";
            savedU2001AsHTML += "<tr><td><p class='savedTitle'>Saved:</p></td></tr>";
            for (var i=0;i<savedU2001As.length;i++){
                savedU2001AsHTML+= "<tr><td><a onclick='createU2001A(" + i + ")'>" + savedU2001As[i].config_name + "</a></td></tr>";                                            
            };
            console.log('savedU2001AsHTML = ',savedU2001AsHTML);
            document.getElementById("savedU2001As").innerHTML = savedU2001AsHTML;
// SAVED MEAS                      
            // var savedMeasHTML = "";
            // savedMeasHTML += "<tr><td><p class='savedTitle'>Saved:</p></td></tr>";
            // for (var i=0;i<savedMeas.length;i++){
            //     savedMeasHTML+= "<tr><td><a onclick='createMeasurement(" + i + ")'>" + savedMeas[i].config_name + "</a></td></tr>";                                                
            // };
            // console.log('savedConfigsHTML = ',savedMeasHTML);
            // document.getElementById("savedMeas").innerHTML = savedMeasHTML;
            urlVars = getUrlVars()
            if ( urlVars['library'] == 'testplan' ){ savedTestView(urlVars['index']) }
        }); //end of ajax

    }); //end doc ready
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    function loadSavedU2001A(config_name){
        for (var i=0;i<savedU2001As.length;i++) {
            if(config_name === savedU2001As[i].config_name) {
                createU2001A(i);
            };
        };
    }
    function checkTextField() {
        var testPlanName = document.getElementById("tesPlanName").value
        testPlanName = validateInput(testPlanName);
        var testSpace = document.getElementById("testPlan")
        if (testPlanName == '') {
            console.log('field is empty');
            $("#accordion").hide();
        }else if (!(testSpace.innerHTML == '')) {
            $(".collapseCommitTest").fadeIn("fast"); 
            $("#accordion").fadeIn("fast"); 
        }else {
            $("#accordion").fadeIn("fast");   
        }  
    };
    </script>

    </script>
{% endblock %}