<!DOCTYPE html>

<html lang="en">
<head>
    <title>iCanvas Page</title>
         
    <script src="../static/js/addons/jquery-1.11.3.js"></script>    
    <script src="../static/js/jquery-ui-1.11.4/jquery-ui.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>    
    <script src="../static/js/addons/lodash.js"></script>  
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../static/js/chart1.js"></script>
    <script type="text/javascript" src="../static/js/chart2.js"></script>
    <script type="text/javascript" src="../static/js/chart3.js"></script>
    <script type="text/javascript" src="../static/js/addons/appDrag.js"></script> 
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="../static/css/hoverzoom.css">
    <link rel="stylesheet" type="text/css" href="../static/css/fonts/stylesheet.css" charset="utf-8" /> 
    <script src="../static/js/addons/angular.min.js"></script>
    <script type="text/javascript" src="../static/js/addons/clickadd.js"></script>
    
    <script type="text/javascript">
        function checkTextField() {
            var testPlanName = document.getElementById("tesPlanName")
            var testSpace = document.getElementById("testPlan")
            if (testPlanName.value == '') {
                console.log('field is empty');
                $("#accordion").hide();
            }else if (!(testSpace.innerHTML == '')) {
                $(".collapseCommitTest").fadeIn("fast"); 
                $("#accordion").fadeIn("fast"); 
            }else {
                $("#accordion").fadeIn("fast");   
            }  
        };
    </script>

    <link rel="stylesheet" type="text/css" href="../static/css/canvasApp.css">
    <style type="text/css"></style>
</head>

<body id="mainBackground">
    <div class="container">       
        <nav id="topNavBar" class="navbar navbar-inverse navbar-collapse collapse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img class="logo" src="../static/images/Glogo.png" style="width:110px;" alt="Gradient One logo">
                    </div>
                    <div id="navbar">
                        <ul class="topmenu nav navbar-nav">
                            <li><a href="instruments">INSTRUMENTS</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="testresults" style="color: rgb(124,175,46);">CANVAS</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="testlibrary/acme">TEST LIBRARY</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="community">COMMUNITY</a></li>            
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li><a class="glyphicon glyphicon-envelope" href="../navbar-static-top/"></a></li>
                          <li><a class="glyphicon glyphicon-bell" href="../navbar-static-top/"></a></li>
                          <li><a class="glyphicon glyphicon-user" href="../navbar-fixed-top/">Profile</a></li>
                        </ul>
                    </div>
                </div>
        </nav>
        <div class="row">
            <div class="col-md-12 canv" style="">
                <h1 id="headr">GradientOne Canvas</h1>
                <p></p>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="width: 180px; margin-top: 20px;">
            <button id="newTestBtn" class="btn btn-default tog" href="#collapseNewTest" onclick="checkTextField()">NEW TEST</button>
            <button id="newTestBtn" class="btn btn-default savedTests">SAVED TEST</button>
                <div class="panel-group" id="accordion" style="width: 140px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">DUT</a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table" style="margin-bottom:0px;">
                                    <tr>
                                        <td>
                                            <a id='newDUT'>NEW</a>
                                        </td>
                                    </tr>    
                                </table>
                                <table id="savedDuts" class="table"></table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Configs</a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table" style="margin-bottom:0px;">
                                    <tr>
                                        <td>
                                            <a id="newConfig">NEW</a>
                                        </td>
                                    </tr>
                                </table>
                                <table id="savedConfigs" class="table"></table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Measurements</a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a>Peak Power</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Spectral Mask</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a id="RMS">RMS</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a>Harmonics</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


<!-- TEST SPACE -->    
            <fieldset class="col-md-12" id="canvasBox" style="width: 80%;">
                <span class="spacer"></span><legend class="text-uppercase" style="width: 118px;">Test Space</legend><span class="spacer"></span>
<!--NEW TEST PLAN-->
                <div class="testSetupBox menu collapseNewTest" id="testSetup">   
                    <form method="post">
                        <div class="row"> 
                            <div class="col-md-4">
                                <h3 class="testSetupLabel">Test Plan Name :</h3>
                            </div>
                            <div class="col-md-5">
                                <tr>
                                    <td class="label">  
                                      <input id="tesPlanName" class="nameTestInput" type="text" onblur="checkTextField();" value="" placeholder="name goes here">
                                    </td>
                                </tr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="testSetupLabel">Test Start Time :</h3>
                            </div>
                            <div class="col-md-4" style="height:25px;">
                                <tr>
                                    <td class="label">                                        
                                      <input class="nameTestInput" id="start_time" type="text" name="start_time" value="" placeholder="time goes here">
                                      <input type="hidden" name="company_nickname" value="Acme">
                                      <input type="hidden" name="timepost" value=True>
                                    </td>
                                </tr>
                                <div class="startNowBox">
                                    <p class="startNowLabel">Start Now</p> 
                                    <td>                                          
                                      <input id="startNowCheck" class="startNow" type="checkbox" name="start_measurement_now">
                                      <input type="hidden" name="timepost" value=True>
                                    </td>  
                                </div>                               
                            </div>
                        </div>
                    </form>                                 
                </div>
<!--WIDGETS go HERE-->
                <div id="testPlan" class="droppable"></div>
<!--COMMIT TEST-->
                <div class="commitBox menu collapseCommitTest" id="">
                    <div class="row">    
                        <input id="commitBtn" type="submit" value="COMMIT" style="">      
                    </div>       
                </div>        
            </fieldset>
        </div>
<!--TEST REEL-->      
        <fieldset id='reelTitle'><legend style="text-align:center; width: 120px; color:white">Test Reel</legend></fieldset>
        <div class="row">
            <div id="chart1" class="col-md-4 hoverzoom" style="height: 200px;"></div>  
            <div id="chart2" class="col-md-4 hoverzoom"></div>               
            <div id="chart3" class="col-md-4 hoverzoom"></div>             
        </div> 
        <hr>
    </div> 

    <script type="text/javascript" src="../static/js/widgets.js"></script>

    <script type="text/javascript">
    $(function() {
      $("#start_time").datepicker();
    });

    $('#collapseOne').collapse("hide");
    //$("#accordion").prop('disabled', true);
    $("#accordion").hide();
    </script>
    <!--stops accordion from loading open -->
    <script type="text/javascript">

    //NEW TEST BUTTON
    $(document).ready(function () {
      $(".collapseNewTest").hide();
      $(".collapseCommitTest").hide();
      $(".tog").click(function () {
          $(".collapseNewTest").fadeIn("fast"); 
          $(".droppable").fadeIn("fast");
      });
      $(".savedTests").click(function () {
          $(".collapseNewTest").hide();
          $(".droppable").hide();
          $(".collapseCommitTest").hide();
          $("#accordion").hide();
      });
      $(".startNow").change(function (){
           if (this.checked) {
                console.log('start now checked');
                document.getElementById("start_time").disabled = true;
                document.getElementById("start_time").value = '';
           }else if(!this.checked) {
                console.log('start now unchecked');
                document.getElementById("start_time").disabled = false;
           } 
      });
    });     
    </script>
    <script type="text/javascript">
var savedResults;
    function createDut(index) {
        savedSettings = savedResults.duts[index]
            addWidget('dut',savedSettings);

            console.log('createDut: index = ',index);
            //console.log('createDut: savedResults = ',savedResults);
            //console.log('createDut: dut results = ',savedResults.duts[index]);
            };     



$(document).ready(function () {
    widget_url = 'https://gradientone-test.appspot.com/testresults/widgets/Acme.json';

    //widget_url = window.location.origin + '/testresults/widgets/Acme.json';
    console.log('widget_url', widget_url);
        $.ajax({
            async: true,
            url: widget_url,            
            dataType: 'json',
        }).done(function (results) {
            var savedWidgets = results
            savedConfigs = results.configs;
            savedDuts = results.duts;
            savedSeq = results.sequences;
            savedMeas = results.measurements;
            savedTests = results.tests;

            savedResults = results;
            //console.log('Saved Widgets: results', results);
            console.log('Saved Widgets: savedConfigs', savedConfigs);
            console.log('Saved Widgets: savedDuts', savedDuts);
            console.log('Saved Widgets: savedSeq', savedSeq);
            console.log('Saved Widgets: savedTests', savedTests);

            
//SAVED DUTS
            var savedDutsHTML = "";
            savedDutsHTML += "<tr><td><p class='savedTitle'>Saved:</p></td></tr>";                    
            for (var i=0;i<savedDuts.length;i++){
                savedDutsHTML+= "<tr><td><a onclick='createDut(" + i + ")'>" + savedDuts[i].dut_name + "</a></td></tr>";                                                  
            };
            console.log('savedDutsHTML = ',savedDutsHTML);
            document.getElementById("savedDuts").innerHTML = savedDutsHTML;
// SAVED CONFIGS                      
            var savedConfigsHTML = "";
            savedConfigsHTML += "<tr><td><p class='savedTitle'>Saved:</p></td></tr>";
            for (var i=0;i<savedConfigs.length;i++){
                savedConfigsHTML+= "<tr><td><a onclick='createConfig()'>" + savedConfigs[i].config_name + "</a></td></tr>";                                                  
            };
            console.log('savedConfigsHTML = ',savedConfigsHTML);
            document.getElementById("savedConfigs").innerHTML = savedConfigsHTML;
            function createConfig() {

            };
        }); //end of ajax
        

    }); //end doc ready 
    </script>
</body>
</html>
