<!DOCTYPE html>
<html lang="en">
<head>
    <title>Instrument Page</title>
         
    <script src="../static/js/addons/jquery-1.11.3.js"></script>    
    <script src="../static/js/jquery-ui-1.11.4/jquery-ui.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>    
    <script src="../static/js/addons/lodash.js"></script>  
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../static/js/sachart.js"></script>
    <script type="text/javascript" src="../static/js/chart3.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="../static/css/oscope.css">
    <link rel="stylesheet" type="text/css" href="../static/css/specanal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script type="text/javascript" src="../static/js/addons/clickadd.js"></script>
    <script type="text/javascript" src="../static/js/addons/jquery.knob.min.js"></script>
    <style type="text/css"></style>


</head>

<body id="mainBackground">
    <div class="container">       
        <nav id="topNavBar" class="navbar navbar-inverse navbar-collapse collapse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img class="logo" src="../static/images/Glogo.png" style="width:110px;">
                    </div>
                    <div id="navbar">
                        <ul class="topmenu nav navbar-nav">
                            <li><a href="index.html">CANVAS</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a style="color:rgb(124,175,46);" href="instruments.html">INSTRUMENTS</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="community.html">COMMUNITY</a></li>          
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li><a class="glyphicon glyphicon-envelope" href="../navbar-static-top/"></a></li>
                          <li><a class="glyphicon glyphicon-bell" href="../navbar-static-top/"></a></li>
                          <li><a class="glyphicon glyphicon-user" href="../navbar-fixed-top/">Profile</a></li>
                        </ul>
                    </div>
                </div>
        </nav>
        <div class="container-fluid">
            <div class="col-md-12 canv">
                <h1 id="instHeader" class="headr">Instruments</h1> 
            </div>
        </div>     
            <div class="row">
                <div class="col-md-3" style="width: 170px;">
                    <ul class="nav nav-pills nav-stacked instnav">
                        <li class="side-menu" role="menu">
                          <h4 id="sideHeader">Instruments</h4>
                          <ul  id="isntrumentList" style="">
                          <li data-toggle="collapse" data-parent="#accordion" href="#collapseOne">My Instruments</li>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                      <div class="panel-body" style="padding-top: 0px; padding-left: 0px;">
                                      <!--MY INSTRUMENT LIST TEMPLATE-->
                                          <form method="post" id="resultsForm">
                                            <table class="savedList">
                                              <tr>
                                              </tr>   
                                        {% block import %}

                                        {% for r in rows %}
                                          <a class="testName" href ="instruments/{{r.author}}/{{r.instrument_type}}/{{r.instrument_name}}">{{ r.instrument_name }}</a><span class="testAuthor">{{ r.instrument_type }}
                                          <br><br>   
                                        {% endfor %}
                                        {% endblock %}  
                                            </table>
                                          </form>
                                      </div>
                                    </div>
                                  <li data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">O-Scope</li>
                                    <div id="collapseTwo" class="panel-collapse collapse in">
                                      <div class="panel-body" style="padding-top: 0px; padding-left: 0px;">
                                          <table class="savedList">
                                          <p>Saved :</p>
                                              <tr>
                                                  <td>
                                                      <a class="savedLink">John's</a>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td>
                                                      <a class="savedLink">Bob's</a>
                                                  </td>
                                              </tr>
                                          </table>
                                      </div>
                                    </div>
                                  <li data-toggle="collapse" data-parent="#accordion" href="#collapseThree">VNA</li>
                                    <div id="collapseThree" class="panel-collapse collapse in">
                                      <div class="panel-body" style="padding-top: 0px; padding-left: 0px;">
                                          <table class="savedList">
                                          <p>Saved :</p>
                                              <tr>
                                                  <td>
                                                      <a class="savedLink">Will's</a>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td>
                                                      <a class="savedLink">Nick's</a>
                                                  </td>
                                              </tr>
                                          </table>
                                      </div>
                                    </div>  
                            </ul> 
                        </li>
                    </ul> 
                </div>                           
<!--Oscilloscope-->    
              <div id="instBox">
                  <h2 id="instName" class="instname" style="color:black;">Oscilloscope</h2>
                  <div class="row">
                    <div class="col-md-6" id="ochart"></div> 
                    <div id="collapseTable" class="col-md-2 collapse in oTable">
                      <div id="oTable"></div><!--DATA TABLE-->
                    </div>
                    <div class="col-md-2" id="optionsBox" style="background-color: rgb(50,50,50);">
                        <div id="optionsBoxTitle" class="boxTitle">
                            <h2>Options</h2>
                        </div>
                        <div id="buttons" style="margin-bottom: 10px;">
                            <button style="padding-top:5px;" class="text-uppercase" type="button" id="start">Start</button>
                            <button style="padding-top:5px;" class="text-uppercase" type="button" id="save">Save</button>
                            <button style="padding-top:5px;" class="text-uppercase" data-toggle="collapse" data-parent="#accordion" href="#collapseTable">Table</botton>
                        </div>
                        <fieldset class="col-md-12" id="knobBox" style="width: 90%;">
                        <span class="spacer"></span><legend class="text-uppercase" style="width: 300px; padding-left: 5px;">Horizontal</legend><span class="spacer"></span>   
                          <div class="Knobs">
                            <section>
                              <div id="PosKnob">
                                <p id="knobLabel">Position</p>
                                <input 
                                type="text" 
                                value="0"
                                data-step="1"
                                data-min="-10"
                                data-max="10" 
                                class="hPosKnob"
                                data-cursor= "10"
                                data-width="50"
                                data-fgColor="rgb(2,255,253)"
                                data-thickness=".5"
                                data-bgColor="white"
                                data-angleOffset="-125"
                                data-angleArc="250">
                              </div>
                            </section>
                            <section id="horiz">
                              <div id="ZoomKnob">
                                <p id="knobLabel">Zoom</p>
                                <input 
                                type="text" 
                                value="0"
                                data-min="10"
                                data-max="1000" 
                                class="hZoomKnob"
                                data-cursor= "10"
                                data-width="50"
                                data-fgColor="rgb(2,255,253)"
                                data-thickness=".5"
                                data-angleOffset="-125"
                                data-angleArc="250"
                                data-bgColor="white">
                              </div>
                            </section>
                          </div>
                        </fieldset>
                        <fieldset class="col-md-12" id="knobBox" style="width: 90%;">
                        <span class="spacer"></span><legend class="text-uppercase" style="width: 300px; padding-left: 5px;">Vertical</legend><span class="spacer"></span>   
                          <div class="Knobs">
                            <section>
                              <div id="PosKnob">
                                <p id="knobLabel">Position</p>
                                <input 
                                type="text" 
                                value="0"
                                data-step="1"
                                data-min="-10"
                                data-max="10" 
                                class="vPosKnob"
                                data-cursor= "10"
                                data-width="50"
                                data-fgColor="rgb(2,255,253)"
                                data-thickness=".5"
                                data-bgColor="white"
                                data-angleOffset="-125"
                                data-angleArc="250">
                              </div>
                            </section>
                            <section id="vert">
                              <div id="ZoomKnob">
                                <p id="knobLabel">Zoom</p>
                                <input 
                                type="text" 
                                value="0"
                                data-min="10"
                                data-max="1000" 
                                class="vZoomKnob"
                                data-cursor= "10"
                                data-width="50"
                                data-fgColor="rgb(2,255,253)"
                                data-thickness=".5"
                                data-angleOffset="-125"
                                data-angleArc="250"
                                data-bgColor="white">
                              </div>
                            </section>
                          </div>
                        </fieldset>
                    </div>
                  </div>
              </div>  
          </div>  
        <hr>
    </div> 
    <script type="text/javascript" src="../static/js/ochart.js"></script>
    <script type="text/javascript">$('#collapseOne').collapse("hide");</script><!--stops accordion from loading open -->
    <script type="text/javascript">$('#collapseTwo').collapse("hide");</script>
    <script type="text/javascript">$('#collapseThree').collapse("hide");</script>
    <script type="text/javascript">$('#collapseTable').collapse("hide");</script>
</body>
</html>