{% extends "base.html" %}

{% block import %}

<html>
  <head>
    <title>List Users ({{company}})</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Users ({{company}})</h2>
    <table>
    <tr><th>email</th><th>company</th><th>admin</th></tr>
    {% for user in users %}
       <tr>
       <td>{{user.email}}</td><td>{{user.companyname}}</td><td>{{user.admin}}</td>
       </tr>
    {% endfor %}
    </table>
  </body>

</html>

{% endblock %}
