<!DOCTYPE html>
<html>
<head>
<title>GradientOne Import</title>

  
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">  
  <link type="text/css" rel="stylesheet" href="/static/css/adduser.css" />
  
</head>
<body id="background">
  <div class="">
    <div id="headbar">
    <img class="logo" src="images/Glogo.png" style="width:110px; float:left;" alt="Gradient One logo"> 
    <h1 style="float:left">Account Management</h1>
    </div>
      
      <div class="" id="adduserbox">
        <h2>Add User</h2>
        
        <form method="post">
          <div>
            <label class="admin">
              <input type="checkbox" name="admin"> Admin
            </label>
          </div>    
          <div class="form-group">
            <input type="text" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="companyname" placeholder="Company">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>        
        </form>
      </div>
    
  </div>
</body>

</html>