<!DOCTYPE html>
<html lang="en">
<head>
    <title>Instrument Page</title>
         
    <script src="js/addons/jquery-1.11.3.js"></script>    
    <script src="js/jquery-ui-1.11.4/jquery-ui.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>    
    <script src="js/addons/lodash.js"></script>  
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="js/ochart.js"></script>
    <script type="text/javascript" src="js/sachart.js"></script>
    <script type="text/javascript" src="js/chart3.js"></script>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/oscope.css">
    <link rel="stylesheet" type="text/css" href="css/specanal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script type="text/javascript" src="js/addons/clickadd.js"></script>
    <script type="text/javascript" src="js/addons/jquery.knob.min.js"></script>
    <style type="text/css"></style>


</head>

<body ng-app="controller" background="images/triangles.png">
    <div ng-controller="SettingsController" class="container">       
        <nav class="navbar navbar-inverse navbar-collapse collapse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img class="logo" src="images/Glogo.png" style="width:110px;">
                    </div>
                    <div id="navbar">
                        <ul class="topmenu nav navbar-nav">
                            <li><a href="index.html">CANVAS</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="instruments.html">INSTRUMENTS</a></li>
                            <li class="dots glyphicon glyphicon-option-vertical"></li>
                            <li><a href="community.html">COMMUNITY</a></li>          
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <li><a class="glyphicon glyphicon-envelope" href="../navbar-static-top/"></a></li>
                          <li><a class="glyphicon glyphicon-bell" href="../navbar-static-top/"></a></li>
                          <li><a class="glyphicon glyphicon-user" href="../navbar-fixed-top/">Profile</a></li>
                        </ul>
                    </div>
                </div>
        </nav>
        <div class="row">
            <div class="col-md-12 well well-sm canv">
                <h2>GradientOne Instruments</h2> 
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked instnav">
                      <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" style="text-align:center;">
                          Instrument Options <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                        GradientOne Instruments
                          <select multiple class="form-control">
                                  <option>VNA</option>
                                  <option>VNA</option>
                                  <option ng-click="add()">O-Scope</option>
                                  <option>VNA</option>
                                  <option>VNA</option>
                            </select> 
                        </ul>
                      </li>
                      <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false" style="text-align:center;">
                          Saved Instruments<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                          <select multiple class="form-control">
                                  <option>Steve's VNA</option>
                                  <option>VNA</option>
                                </select> 
                        </ul>
                      </li>
                    </ul> 
                </div>                           
            </div>
        </div>
          <div class="container">
              <div class="col-md-12 box">
                  <h2 class="instname">Oscilloscope</h2>
                  <div id="ochart"></div>
                  <div id="optionsBox">
                      <div id="optionsBoxTitle" class="boxTitle">
                          <h2>Options</h2>
                      </div>
                      <div id="buttons">
                          <button type="button" id="start">Start</button>
                          <button type="button" id="stop">Stop</button>
                          <button type="button" id="start">Save</button>
                          <button type="button" id="stop" ng-click="remove($index)">Delete</button>
                      </div>
                      <div class="knobs" style="height: 100px;">
                          <h3>Amplitude</h3>
                          <div id="knob1">
                            <input 
                            type="text" 
                            value="25" 
                            class="dial" 
                            data-width="75"
                            data-fgColor="#00C5B6"
                            data-skin="tron"
                            data-thickness=".4"
                            data-angleOffset="0">
                          </div>
                      </div>
                      <div class="knobs">
                          <h3>Period</h3>
                          <div id="knob2">
                            <input 
                            type="text" 
                            value="25" 
                            class="dial" 
                            data-width="75"
                            data-fgColor="#00C5B6"
                            data-skin="tron"
                            data-thickness=".4"
                            data-angleOffset="0">
                          </div>
                      </div>
                  </div>
              </div>  
          </div>
          <div class="container">
              <div class="col-md-12 box">
                  <h2 class="instname">Spectrum Analyzer</h2>
                  <div id="sachart"></div>
                  <div id="optionsBox">
                      <div id="optionsBoxTitle" class="boxTitle">
                          <h2>Options</h2>
                      </div>
                      <div id="buttons">
                          <button type="button" id="start">Start</button>
                          <button type="button" id="stop">Stop</button>
                      </div>
                      <div class="knobs" style="height: 100px;">
                          <h3>Amplitude</h3>
                          <div id="knob1">
                            <input 
                            type="text" 
                            value="25" 
                            class="dial" 
                            data-width="75"
                            data-fgColor="#00C5B6"
                            data-skin="tron"
                            data-thickness=".4"
                            data-angleOffset="0">
                          </div>
                      </div>
                      <div class="knobs">
                          <h3>Period</h3>
                          <div id="knob2">
                            <input 
                            type="text" 
                            value="25" 
                            class="dial" 
                            data-width="75"
                            data-fgColor="#00C5B6"
                            data-skin="tron"
                            data-thickness=".4"
                            data-angleOffset="0">
                          </div>
                      </div>
                  </div>
              </div>    
          </div>  
        <hr>
    </div> 
    
            
        
    
    <script>
    $(".dial").knob({
        'change' : function (v) { console.log(v); }
    });
    </script>
    <script type="text/javascript">$('#collapseOne').collapse("hide");</script><!--stops accordion from loading open -->
</body>
</html>