{% extends "one.html" %}
{% block title %} Operator Page {% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/sachart.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/oscope.css">
    <link rel="stylesheet" type="text/css" href="/static/css/specanal.css">
    <link rel="stylesheet" type="text/css" href="/static/css/powerMeter.css">        
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/addons/jquery.knob.min.js"></script>
    <style type="text/css">
      #run {color: black;}
      .ops_button {color: black;}
      .black_ops {color: black;}
      h1,h2,h3,p {color: white;}
      #pass_feedback {color: green; font-size: 300%;}
      #fail_feedback {color: red; font-size: 300%;}
    </style>
{% endblock %}
{% block content %}
<div class="col-md-8 col-md-offset-2">
	<div class="row">
		<h1>{{ self.title() }}</h1>
		<h3>Test Overview</h3>
	    <p>Configuration - {{config.config_name}} | Instrument Type - {{config.instrument_type}}</p>
		<div class="col-md-6">
			<p>Max Pass Value:</p>
			<input class="black_ops" type="text" id="max_pass_value" value="{{instrument_config.max_value}}"><br>
			<p style="margin-top:20px">Min Pass Value:</p>
			<input class="black_ops" type="text" id="min_pass_value" value="{{instrument_config.min_value}}">
			<button style="margin-left:15px" class="text-capitalize optionsBtn" type="button" id="powerMeterStartStop">Start</button>
		</div>
		<div id ="PassFailBox" class="col-md-6">
			<p>Results:</p>
  		    <p><span id="pass_feedback"></span></p>
  		    <p><span id="fail_feedback"></span></p>
		</div>
	</div>
	<br>
	<div class= "row">

	   <div id="powerMeterBox" class="PowerMeterInstBox">
          <h2 class="row" id="instrumentName" class="instname" style="margin:5px 0 0 20px; color: white;">Power Meter</h2>
          <h4 class="row" id="hardwareName" class="hardwareName" style="margin:0 0 0 20px"></h4>
          <div class="row">
            <div class="col-md-10" id="leftDisplay">
              <div class="row">
                <div class="" id="valueBox">
                  <h3>
                    <span id="measurementValue" class="valueDisplay" style=""></span>
                    <span id="PMUnits" class="unitsDisplay" style=""></span>
                  </h3> 
                </div>
              </div>
              <div class="row">  
                <div id="PMSettingsDisplay" class="col-md-6 configInfoBox" style="margin-left: 5px;">
                  <h6 style="margin-bottom: 0px;"><span style="margin-right:3px;">Config:</span><span class="configSettings"></span><span style="position:absolute; left:150px; margin-right:3px;">Trace:</span><span style="position:absolute; left:190px;"></span></h6>
                  <h6 style="margin-bottom: 0px;"><span style="margin-right:3px;">FC:</span><span class="configSettings"></span><span style="position:absolute; left:150px; margin-right:3px;">Offset:</span><span style="position:absolute; left:195px;"></span></h6>
                </div>
                <div class="col-md-2 statusInfoBox" style="margin-left:10px;">
                  <h5 style="margin-bottom: 0px; text-align:center;">Status <span id="currentStatus" class="status"></span> </h5>   
                </div>
              </div> 
            </div>
          </div>
       </div>
       <div id="lastResults">
       		<br>
			<p>Last saved results:</p>
			<p>{{data.results}}</p>
			<p>Return to test library:
			<a href="/testlibrary/{{data.company_nickname}}"><button class="text-capitalize optionsBtn">Done</button></a>
			</p>
	   </div>
	   <hr>
	</div>
	<div class= "row">
		<h3>Comments</h3>
		{% for comment in data.comment_thread %}
		<hr>
		<p>{{comment.content}}</p>
		<p>by {{comment.author}} at {{comment.timestamp}}</p>
		{% endfor %}

		<textarea name="content" id="content" form="usrform" rows="5" cols="50">Enter comment here...</textarea>
		<form action="/operator/{{data.company_nickname}}/{{data.hardware_name}}/{{data.config_name}}/{{data.testplan_name}}" method="post" id="usrform">
			<input class="hidden" id="start_tse" name="start_tse" value="{{data.last_start_tse}}">
            <input class="text-capitalize optionsBtn" type="submit">
		</form>
	</div>
</div>

<script type="text/javascript">

  var instrument_config = {
  configName : '{{data.config_name}}',
  traceName : '{{data.testplan_name}}',
  frequencyCorrection : '{{instrument_config.correction_frequency}}',
  offset : '{{instrument_config.offset}}',
  units : '{{instrument_config.units}}',
  avgCountAuto : '{{instrument_config.averaging_count_auto}}',
  rangeAuto : '{{instrument_config.range_auto}}',
  };
$( document ).ready(function(){OPConfig(instrument_config);});

</script>
<script type="text/javascript" src="/static/js/gConfig.js"></script>
<script typo="text/javascript" src="/static/js/testops.js"></script>

{% endblock %}