{% extends "one.html" %}
{% block title %} Test Ops {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    </style>
{% endblock %}
{% block content %}
<h1>Test Ops</h1>
<h3>Available Test Plans:</h3>
<div>
	{% for config in configs %}
		{% for test in tests %}
		<li>
		<a href="/operator/{{test.company_nickname}}/{{config.config_name}}/{{test.testplan_name}}">
			{{test.company_nickname}} >> {{config.config_name}} >> {{test.testplan_name}}</a><br>
		</li>
		{% endfor %}
	{% endfor %}
</div>
{% endblock %}
