{% extends "one.html" %}
{% block title %} Test Ops {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        #testops-navlink {color: rgb(124,175,46);}
        h1,p {color: white;}
    </style>
{% endblock %}
{% block content %}
<h1>{{ self.title() }}</h1>
<h3>Available Test Plans:</h3>
<div>
	{% for config in configs %}
		<a href="/operator/{{config.company_nickname}}/{{config.hardware_name}}/{{config.config_name}}/{{config.active_testplan_name}}">{{config.company_nickname}} >> {{config.hardware_name}} >> {{config.config_name}} >> {{config.active_testplan_name}} </a><br>
	{% endfor %}
</div>
{% endblock %}
