{% extends "one.html" %}
{% block title %} Test Ops {% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        #profile-navlink {color: rgb(124,175,46);}
        h1,h2,p {color: white;}
    </style>
{% endblock %}
{% block content %}      
        <div id="profileInfoRow"class="row">
          <div class="col-md-12">
            <h1>Account Profile</h1>
            <h2>Profile Information</h2>
            {% if error %}
            <h4>{{error}}</h4>
            {% endif %}      
            <div>
              <p>Name: {{profile.name}} </p>
              <p>Company: {{profile.company_nickname}} </p>
              <p>Bio: {{profile.bio}} </p>
              <p>Email: {{profile.email}} </p>
              <p>Groups: {% for group in profile.groups %}
                {{group}}
              {% endfor %}
              </p>
              <p>Groups Cookie Check: {{groups}}</p>
              <p>Company Cookie Check: {{comp_cookie}}</p>
              <p>Profile Permissions: {{profile.permissions}}</p>
            </div>
            
            {% if profile.admin %}
            <p>Admin Features: </p>
            <p><a href="adduser">Add User</a> </p>
            <p><a href="listusers">View/Edit Users</a></p>
            {% endif %}
          </div>
        </div>
{% endblock %}
