{% extends "base.html" %}

{% block import %}

<html>
  <head>
    <title>Test Input </title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>


  <body>
    <h2>Test Plan Configuration</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Test Plan Name
          </td>
          <td>
            <input type="text" name="testplan_name" value="{{testplan_name}}">
            <input type="hidden" name="company_nickname" value="Acme">
            <input type="hidden" name="hardware_name" value="Tahoe">
            <input type="hidden" name="instrument_type" value="BitScope">
            <input type="hidden" name="author" value="nedwards">
            <input type="hidden" name="testpost" value=True>
          </td>
        </tr>
      <input type="submit">
    </form>

    <form method="post">
      <table>
          <tr>
          <td class="label">
            Test Plan Name:  
          </td>
          <td>
            <input type="text" name="testplan_name" value="{{testplan_name}}">
          </td>
        </tr>
        <tr>
          <td class="label">
            Config Name:
          </td>
          <td>
            <input type="text" name="config_name" value="{{config_name}}">
            <input type="hidden" name="company_nickname" value="Acme">
            <input type="hidden" name="hardware_name" value="Tahoe">
            <input type="hidden" name="instrument_type" value="BitScope">
            <input type="hidden" name="author" value="nedwards">
            <input type="hidden" name="confpost" value=True>
          </td>
          <tr>
          <td class="label">
            Sample Rate (Hz):  
          </td>
          <td>
            <input type="text" name="sample_rate" value="{{sample_rate}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Number of Samples:  
          </td>
          <td>
            <input type="text" name="number_of_samples" value="{{number_of_samples}}">
          </td>
        </tr>
        </tr>
      <input type="submit">
    </form>

    <form method="post">
      <table>
          <tr>
          <td class="label">
            Test Plan Name:  
          </td>
          <td>
            <input type="text" name="testplan_name" value="{{testplan_name}}">
          </td>
        </tr>
        <tr>
          <td class="label">
            Device Under Test Type:  
          </td>
          <td>
            <input type="text" name="dut_type" value="{{dut_type}}">
          </td>
        </tr>
        <tr>
        <td class="label">
            Device Under Test Name:
        </td>

          <td>
            <input type="text" name="dut_name" value="{{dut_name}}">
            <input type="hidden" name="company_nickname" value="Acme">
            <input type="hidden" name="testplan_name" value="Smiley">
            <input type="hidden" name="author" value="nedwards">
            <input type="hidden" name="dutpost" value=True>
          </td>
          <tr>
          <td class="label">
            Settings:  
          </td>
          <td>
            <input type="text" name="settings" value="{{settings}}">
          </td>
        </tr>
      <input type="submit">
    </form>






  </body>

</html>

{% endblock %}
