{% extends "base.html" %}

{% block import %}

<html>
  <head>
    <title>Test Plan Summary </title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Test Plan Summary </h2>
    <form method="post">
      <table>
        <tr>
        </tr>

        {% for t in tests %}
        
          <a href ="testresults/{{t.testplan_name}}">{{ t.testplan_name }}</a><span style="padding-left:100px">{{ t.author }} <span style="padding-left:100px"> {{ t.date_created }}
          <br><br>   
        {% endfor %}
      </table>
    </form>
  </body>

</html>

{% endblock %}