<!DOCTYPE html>
{% block import %}
<html>
<head>
    <title>Results Page #</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
 // load chart lib
       google.load('visualization', '1', {
          packages: ['corechart','table']
       });
   
       function doPoll(){
          var base_url = 'https://fiberboardfreeway.appspot.com/oscope';
          var json_url = base_url + '.json';
          //var json_url = 'http://localhost:8080/oscope.json';
          var jsonData = $.ajax({
             url: json_url,            
             dataType: 'json',
          }).done(function (results) {
             var data = new google.visualization.DataTable();
             data.addColumn('number', 'Time');
             data.addColumn('number', 'ch1');
             data.addColumn('number', 'ch2');
               
             $.each(results, function (i, row) {
               data.addRow([
                 parseFloat(row.TIME),
                 parseFloat(row.CH1),
                 parseFloat(row.CH2),
                 
               ]);
             });
             //DRAW CHART
             var chart = new google.visualization.LineChart($('#resultsChart').get(0));      
             chart.draw(data, options);
             //DRAW TABLE
              var table = new google.visualization.Table(document.getElementById('resultsTable'));
              table.draw(data, {showRowNumber: true});
            //setTimeout(doPoll,60000);
          });
          
       };
        var options = {
            title: 'Oscope Data',
            titleTextStyle: {color:'lightgray', fontSize: 18},
            legend: {alignment:'center', textStyle:{color:'lightgray'}},
            hAxis: {title: 'Time(units)',titleTextStyle:{color:'lightgray'}, textStyle:{color:'lightgray'}, baselineColor:'gray', gridlines:{color: 'gray', count: 6}, minorGridlines:{color: 'gray', count: 1}, viewWindowMode:'pretty'},
            vAxis: {title: '', titleTextStyle:{color:'lightgray'}, textStyle:{color:'lightgray'}, baselineColor:'white', gridlines:{color: 'gray', count: 6}, minorGridlines:{color: 'gray', count: 1}, format: '##.###'},
            backgroundColor: {fill:'rgb(40,45,45)', stroke: 'black', strokeWidth: 5,},                 
            colors: ['rgb(2,255,253)','rgb(239,253,146)'],
            chartArea:{backgroundColor:''},
            lineWidth: 1.25,
            curveType: 'function',
            crosshair: {trigger: 'both', selected:{opacity: 0.8}, focused:{opacity:0.8}},
          }
       google.setOnLoadCallback(doPoll);
</script>


</head>
<body>
<h1>{{testplan_name}}</h1>
<div id="resultsChart" style="height: 300px;"></div>

<div class="row">

    <div id="resultsTable"></div>
    <div style="position:relative; left:300px; top:-1700px;">
    <h2>Test Measurements:</h2>
    <li>
        Peak Voltage
    </li>
    <li>
        Root Mean Squared
    </li>
    <li>
        Rise Time
    </li>
    </div>
</div>


</body>
</html>
{% endblock %}