.appBox {
    background-color: rgb(33,33,33);
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px 0 5px 0;
}

.configBox {
    background-color: rgb(33,33,33);
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px 0 5px 0;
    height: 210px;
}

.U2001ABox {
    background-color: rgb(33,33,33);
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px 0 5px 0;
    height: 250px;
}

.testSetupBox {
    background-color: rgb(33,33,33);
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px 0 5px 0;
}

.appTitle {
    margin: 10px 5px 10px 10px;
    color: white;
    font-family: 'nexa_lightregular';
}

.nameWidget {
    color: white;
    font-family: 'nexa_lightregular';
    font-size: 120%;
    position: relative;
    left: 120px;
    top: -35px;
    height: 25px;
    width: 200px;
    background-color: rgb(33,33,33);
    border-style: solid;
    border-width: 0px;
    border-color: black;
    padding: 10px 0  0 5px;    
}

.appRemove {
    color: white;
    background-color: rgb(33,33,33); 
    position: relative;
    margin-right: 5px;
}

.appRow {
    height: 25px;
}

.appInput {
    width: 125px;
    position: relative;
    left: 155px;
    top: -60px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.configResults {
    width: 135px;
    position: relative;
    left: 145px;
    top: -55px;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    color: rgb(197,44,72);
}

.appLabel {
    position: relative;
    top: -20px;
    left: 30px;
    margin: 0 0 15px 0;
    width: 140px;
    color: white;
    font-size: 13;
    font-family: 'nexa_lightregular';
}

.testSetupLabel {
    text-align:left;
    color:white;
    margin:5px 0 5px 10px;
    width: 195px;
}

.nameTestInput{
    color: white;
    font-family: 'nexa_lightregular';
    font-size: 180%;
    position: relative;
    left: -100px;
    top: 2px;
    height: 30px;
    width: 350px;
    background-color: rgb(33,33,33);
    border-style: solid;
    border-width: 0px;
    border-color: black;
    padding: 0 0  0 0;
}

.appForm {
    height: 90px; 
    position:relative; 
    bottom: 25px;
    margin: 0 0 0 5px;
}

#appSubmitBtn {
    color: black;
    font-family: 'nexa_lightregular';
    letter-spacing: 2px;
    width: 80px;
    float: right;
    position: relative;
    bottom: 40px;
    margin: 0 130px 0px 0px;
    padding: 4px 0 0 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(38,38,39);
    background-color: rgb(124,175,46);
}

#nameSubmitBtn {
    text-align: center;
    color: black;
    font-family: 'nexa_lightregular';
    letter-spacing: 2px;
    width: 95px;
    height: 30px;
    float: right;
    margin:10px 120px 0 0;
    padding: 4px 0 0 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(38,38,39);
    background-color: rgb(124,175,46);    
}

#configSearchBtn {
    color: black;
    font-family: 'nexa_lightregular';
    letter-spacing: 2px;
    width: 80px;
    float: left;
    position: relative;
    top:60px;
    left: 93px;
    margin: 8px 0px 0 0px;
    padding: 4px 0 0 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(38,38,39);
    background-color: rgb(124,175,46);
}

#configSearchResults {
margin: 65px 0 0 0;

}

#commitBtn {
    color: black;
    font-family: 'nexa_lightregular';
    letter-spacing: 2px;
    width: 903px;
    height: 30px;
    margin: 0 15px 0 15px;
    padding: 4px 0 0 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(38,38,39);
    background-color: rgb(124,175,46);
}

.appOrder {
    margin-top: 25px;
    margin-right: 500px;
    float: right;
}

.commitBox {
    position: relative;
    top: -20px;
    height: 25px;
    margin: 25px 0 5px 0;
}

.opsStartBox {
    position: relative;
    left: 305px;
    top:-25px;
}

.opsStart {
    position: relative;
    top: -23px;
    left: 135px;
}

.opsStartLabel {
    margin-bottom: 0px;
    width: 135px;
    color: white;
    font-size: 125%;
    font-family: 'nexa_lightregular';   
}

.startNowBox {
    position: relative;
    left: 305px;
    top:-25px;
}

.startNow {
    position: relative;
    top: -23px;
    left: 90px;
}

.startNowLabel {
    margin-bottom: 0px;
    width: 135px;
    color: white;
    font-size: 125%;
    font-family: 'nexa_lightregular';   
}

.savedTitle {
    margin-bottom: 0px;
}