/*GENERAL CSS*/
html, body {
    height: 100%;
    width: 100%;
}

#mainBackground {
   /*background-image: linear-gradient(rgb(0,0,0), rgb(0,0,0));*/
   background-color: rgb(0,0,0);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

p {
    font-family: 'nexa_lightregular';
}

h1 {
    font-family: 'nexa_lightregular';
}

h2 {
    font-family: 'nexa_lightregular';
    font-weight: 100;
    margin-top: 10px;
}

h3 {
    font-family: 'nexa_lightregular';
    color: lightgray;
    font-weight: 100;
}

h4 {
    font-family: 'nexa_lightregular';
}

h5 {
    font-family: 'nexa_lightregular';
}

#topNavBar {
    background-color: black;
    border-style: solid;
    border-top: 0px;
    border-width: 1px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: silver;
    margin-bottom: 10px;
}

.nav {
    font-family: 'nexa_lightregular';
    letter-spacing: 1px;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.canv {
    font-family: 'nexa_boldregular';
    margin-bottom: 0px;
    height: 40px;
    width: 100%;
    padding-bottom:10px;
    color: white;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 0px;
    position: relative;
    vertical-align: middle;
}

#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

.logo {
    position: absolute;
    left: 2px;
    height: 50px;
}

.dots {
    color: gray;
    margin: 10px 0 0 0;
    font-size: 200%;
}

.topmenu {
    margin-left: 15%;
}

.butt {
    border-radius: 5px;
    color: black;
}

#sidebar-wrapper {
    margin-left: 0%;
    left: 3%;
    width: 100px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    line-height: 2;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.well {
    background-color: lightgray; 
}

.com {
    font-family: 'nexa_lightregular';
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    height: 150px;
    background-image: url(../images/gradient.jpg);
    color: white;
    text-align: center;
    border-style: solid;
    border-color: black;
    border: 2.5px inset silver;
    -webkit-box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
    box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
    margin: 0 20px 20px 0;
}

#headr{
    margin-top: 4px;
}

.headr {
    margin-top: 4px;
}

legend {
    font-family: 'nexa_lightregular';
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-width: 0px;
    width: 300px;
    font-weight: 100;
    color: white;
}

#canvasBox {
    padding-top: 0px;
    border-style: solid;
    border-color: rgb(197,44,72);
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
    min-height: 455px;
}

#resultsBox {
    padding-top: 0px;
    border-style: solid;
    border-color: rgb(197,44,72);
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 10px;
    min-height: 455px;
}

#chart3 {

}

/*  INSTRUMENTS */
#isntrumentList {
    font-family: 'nexa_boldregular';
    height:450px; 
    color:white; 
    overflow:auto;
    text-align: left;
    padding-left: 25px;
    list-style-type: circle;
}

#sideHeader {
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

#myInstListHeader {
    text-align: center;
    font-family: 'nexa_lightregular';
    margin: 0 0 5px 5px;

}

.addNewBtn {
    float: right;
    position: relative;
    top: -20px;
    font-family: 'nexa_lightregular';
    text-align: center;    
    height: 18px; 
    width: 41px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
    background-color: rgb(0,0,0);
}

.configLink {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.savedList {
    font-family: 'nexa_lightregular';
    color: white;
    padding-top: 0px;
}

.savedLink {
    color: silver;
    font-family: 'nexa_lightregular';

}

.side-menu {
    width: 150px;
    text-align: center;
    color: white;
}

.instnav {
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(197,44,72);
    border-radius: 5px;
    background-color: black;
}

#newTestBtn {
    font-family: 'nexa_lightregular';
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 4px 0 0 0 ;
    margin:0 0 10px 0;
    width: 140px;
    height: 40px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(197,44,72);
    background-color: rgb(0,0,0);
}

#reelTitle {
    margin: 0 20px 0 0;
    text-transform: uppercase;
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    padding-top: 0px;
    border-style: solid;
    border-color: white;
}

.panel-heading {
    padding: 5px 5px 5px 7px;
}

.panel-title {
    font-size: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 4px 0 0 0;
}

.panel-body{
    letter-spacing: 1px;
    font-family: 'nexa_lightregular';
}


    
    
  

