.hoverzoom {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}

.hoverzoom:hover{

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:translatZ(0) scale(1.25); /* Opera */
    transform:translatZ(0) scale(1.25);
    z-index: 2;
}
  
.hiddenInfo {
    display: none;
    position: relative;
    font-family: 'nexa_lightregular';
    left:400px;
    bottom: 180px;
    z-index: 1;
}

.showHidden:hover + .hiddenInfo {
    display: inline-block;
}    
