button {
    margin-top: 10px;
    width: 90px;
    height: 30px;
}

h3 {
    color: black;
}

#instBox {
    border-color: black;
    background-color: #DFE0DD;
    display: inline-block;
    vertical-align: right;
    min-width: 840px;
    min-height: 510px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    margin:0 0 0 10px;
}

.instname {
    float: left;
    font-family: 'nexa_lightregular';
    margin:5px 0 0 100px;
}

.hardwareName {
    font-family: 'nexa_lightregular';
    font-size: 50%;
    margin:0 20px 0 100px;
}

.optionsButtons {
    font-family: 'nexa_lightregular';
    font-size: 130%;
    text-align: center;
    margin: 0 5px 5px 10px;
    width: 200px;
}

.optionsBtn {
    border-radius: 2px;
    margin:2px 0 2px 0;
 }

#container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    max-width: 1300px;
}

.oTable {
    overflow:auto;
    margin: 10px 40px 0 0;
    padding: 0 0 0 0;
    height: 420px;
    width: 160px;
}

#optionsBox {
    width: 200px;
    min-height: 480px;
    position: relative;
    background-color: rgb(30,30,30);
    border-radius: 10px;
    border: 1px solid;
    margin: 0 28px 0 0;
    overflow: hidden;
}

#optionsBoxTitle {
    text-align: center;
    margin:0 0 0 45px;
    color: white;
    background-color: black; 
}

#decChart{
    height: 420px;
    width:550px;
    margin: 10px 0 5px 30px;
    display: inline-block;
    vertical-align: left;
    background-image: radial-gradient(#00C5B6, #00A984);
    border-radius: 8px;
    border: 5px inset #f4f4f4;
    -webkit-box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
    box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
}

#oChart{
    height: 420px;
    width:550px;
    margin: 10px 0 5px 30px;
    display: inline-block;
    vertical-align: left;
    background-image: radial-gradient(#00C5B6, #00A984);
    border-radius: 8px;
    border: 5px inset #f4f4f4;
    -webkit-box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
    box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);

}

.boxTitle {
    margin-left: 60px;
    background-color: #DFE0DD;
}

.boxTitle h2 {
    margin-left: 10px;
}

.knob-sx { background-image: url(""); }
.knob-sy { background-image: url(""); }

.Knobs { 
    margin: 0 0 0 0;
}

#knobBox {
    padding-top: 0px;
    border-style: solid;
    border-color: rgb(197,44,72);
    border-width: 1px;
    border-radius: 5px;
    margin: 15px 10px 10px 10px;
    min-height: 110px;   
}

#knobLabel{
    color: white;
    text-align: center;    
}

#PosKnob {
    margin: 0 0 0 0;
    position: relative;
    left:0;
    float: left;
    width: 50px;
    height: 50px;
}

#ZoomKnob {
    margin: 0 0 0 0;
    float: right;
    width: 50px;
    height: 50px;
}

.knob-dx { background-image: url(""); }
.knob-dy { background-image: url(""); }

.ctrlBtn {
    width: 40px;
}

/*-------- Inst Config Box --------*/
.configBox {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(197,44,72);
    border-radius: 5px;
    background-color: rgb(33,33,33);
    margin: 0 0 180px 0;
}

#submitBtn {
    color: black;
    font-family: 'nexa_lightregular';
    letter-spacing: 2px;
    width: 80px;
    position: relative;
    margin: 10px 20px 5px 65px;
    padding: 4px 0 0 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(38,38,39);
    background-color: rgb(124,175,46);
    /*background-image: radial-gradient(#32CD32, #5cb85c);*/
}

.configRow {
    position: relative;
    bottom: 20px;
    height: 28px;
}

.configInput {
    width: 100px;
    position: relative;
    left: 125px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.configLabel {
    position: relative;
    top: 18px;
    left: 25px;
    top: 35px;
    color: white;
    font-family: 'nexa_lightregular';
    font-size: 80%;
}
.statusInfoBox {
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 1px solid;
    font-family: 'nexa_lightregular';
    position: relative;
    top: 2px;
    left: 0px;
    height: 54px;
    width: 375px;
}

.replayBtn {
    height: 50px;
    width: 168px;
    margin: 5px 5px 0 45px;
    padding: 0;
}

.playBtn {
    padding: 12px 6px 12px 6px; 
}
.status {
    font-family: 'nexa_lightregular';
    margin
}
/* ---------- Responsive ---------- */