/*FONTS*/
@font-face {
    font-family: NexusBold;
    src: url(css/fonts/NexaBold) format('truetype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: NexusLight;
    src: url(css/fonts/NexaLight) format('truetype');
    font-weight: normal;
    font-style: normal; 
}

button {
    margin-top: 10px;
    width: 90px;
    height: 30px;
}

h3 {
    color: black;
}

#instBox {
    border-color: black;
    background-color: #DFE0DD;
    display: inline-block;
    vertical-align: right;
    min-width: 840px;
    height: 491px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    margin:0 0 0 10px;
}

.instname {
    margin:10px 0 0 0;
    text-align: center;
}

#buttons {
    font-family: 'NexaBold';
    font-size: 130%;
    margin: 0 0 10px 0;
    width: 190px;
}

#container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    max-width: 1300px;
}

.oTable {
    overflow:auto;
    margin: 10px 40px 0 0;
    padding: 0 0 0 0;
    margin-left: 10px;
    height: 400px;
    width: 160px;
}

#optionsBox {
    width: 200px;
    height: 415px;
    position: relative;
    background-color: rgb(30,30,30);
    border-radius: 10px;
    border: 1px solid;
    margin: 0 20px 0 0;
}

#optionsBoxTitle {
    text-align: center;
    margin:0 0 0 45px;
    color: white;
    background-color: black; 
}

#ochart{
    height: 420px;
    width:550px;
    margin: 10px 0 5px 30px;
    display: inline-block;
    vertical-align: left;
    background-image: radial-gradient(#00C5B6, #00A984);
    border-radius: 8px;
    border: 5px inset #f4f4f4;
    -webkit-box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
    box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);

}

.boxTitle {
    margin-left: 60px;
    background-color: #DFE0DD;
}

.boxTitle h2 {
    margin-left: 10px;
}

.knob-sx { background-image: url(""); }
.knob-sy { background-image: url(""); }

.Knobs { 
    margin: 0 0 0 0;
}

#knobBox {
    padding-top: 0px;
    border-style: solid;
    border-color: rgb(197,44,72);
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 10px;
    min-height: 110px;
    
}

#knobLabel{
    color: white;
    text-align: center;    
}


#PosKnob {
    margin: 0 0 0 0;
    position: relative;
    left:0;
    float: left;
    width: 50px;
    height: 50px;
}

#ZoomKnob {
    margin: 0 0 0 0;
    float: right;
    width: 50px;
    height: 50px;
}

.knob-dx { background-image: url(""); }
.knob-dy { background-image: url(""); }

.ctrlBtn {
    width: 40px;
}

/* ---------- Responsive ---------- 
