#powerMeterBox {
    border-color: black;
    background-color: rgb(33,33,33);
    display: inline-block;
    vertical-align: right;
    min-width: 80%;
    min-height: 180px;

    border-style: solid;
    border-color: rgb(197,44,72);
    border-radius: 5px;
    border-width: 1px;
    margin:0 0 0 10px;
}

#valueBox {
	left: 0px;
	margin: 5px 5px 5px 5px;
	height: 80px;
    width: 400px;
	background-color:black;
	border-style: solid;
	border-radius: 5px;
    border: 2px inset #f4f4f4;
    -webkit-box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
    box-shadow: inset 6px 5px 55px 1px rgba(0,0,0,0.8);
}

#leftDisplay {
	background-color:rgb(33,33,33);
	border-style: solid;
	border-color: rgb(33,33,33);
	border-radius: 5px;
	margin-left: 20px;
	padding: 5px 5px 5px 5px;
}

#optionBox {
    position: absolute;
    top: -50px;
    height: 200px;
    width: 100%;
    background-color:black;
    border-radius: 10px;
}

.optionsTitle {
    color: white;
    text-align: center;
}

.PMConfigBox {
    width: 335px;
    height: 190px;
    background-color: rgb(33,33,33);
    border-style: solid;
    border-color: rgb(197,44,72);
    border-radius: 5px;
    border-width: 1px;
}

.PMConfigInput {
    position: absolute;
    margin-left: 160px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#PMSubmitBtn {
    color: black;
    font-family: 'nexa_lightregular';
    letter-spacing: 2px;
    width: 80px;
    position: relative;
    margin: 0px 20px 5px 165px;
    padding: 4px 0 0 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(38,38,39);
    background-color: rgb(124,175,46);
    /*background-image: radial-gradient(#32CD32, #5cb85c);*/
}