.label {
    text-align: right;
}

.error {
    color: red;
}

.libraryEntry {
    height: 150px;
    margin:35px 0 35px 0;
}

.subMenu {
    text-align: center;
    margin: 0 5px 0 5px;
    color: white;
    font-family: 'nexa_boldregular'
}

.subMenuLine {
    margin: 0 0 10px 40px;
    border-color: rgb(197,44,72);
    border-style: solid;
    width: 125px;
}

.headerLine {
    margin-top: 5px;
    border-color: rgb(197,44,72);
    border-style: solid;
}

#testListBox {
    width: 80%;
    margin: 5px 10px 5px 10%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(33,33,33);

}

.instType {
    margin: 10px 0 0 0;
    color: white;
    font-family: 'nexa_lightregular';
}

.colTitle {
    margin: 10px 0 0 0;
    color: white;
    font-family: 'nexa_lightregular';
    letter-spacing: 1px;
}

.resultsLink {
    float: left;
    margin-right: 10px; 
    color: rgb(197,44,72);
    font-family: 'nexa_lightregular';
}

.resultsName {
    color:white;
}

.decChart {
    position: relative;
    left: 200px;
    bottom: 140px;
    margin: 10px 0 0 0;
    height: 60px;
    width: 230px;
}

.testName {
    font-family: 'nexa_boldregular'
}

.name {
    margin-left: 30px;
    color:rgb(197,44,72);
    font-family: 'nexa_boldregular'
}

.instType {
    color:rgb(197,44,72);
    font-family: 'nexa_lightregular';    
}

.resultsLink {
    color: white;
    font-family: 'nexa_lightregular';    
}

.startTime {
    color:rgb(197,44,72);
    font-family: 'nexa_lightregular';
}

.endTime {
    margin-left: 9px;
    color:rgb(197,44,72);
    font-family: 'nexa_lightregular';
}
.libTime {
    font-family: 'nexa_lightregular';    
}
