.error {
    color: red
}

.testConfigBox {
    min-height: 400px;
    width: 435px;
    margin: 0 0 10px 0;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    background-color: rgb(33,33,33);
    /*background-image: radial-gradient(rgb(33,33,33));*/
}

.textBlocks {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-right: 10%;
    float: right;
}

.configLabel {
    position: relative;
    top: 25px;
    left: 30px;
    margin-bottom: 0px;
    width: 135px;
    color: white;
    font-size: 13;
    font-family: 'nexa_lightregular';
}

.configRow {
    height: 25px;
}

.dropDownBox {   
    float:right;
    margin-right: 10%;   
}

#breakLine {
    border-top: 1px;
    border-style: solid;
    border-color: rgb(197,44,72) ;
    margin-bottom: 0px;
    margin-top: 0px;
}

#submitBtn {
    color: black;
    font-family: 'nexa_lightregular';
    letter-spacing: 2px;
    width: 100px;
    position: relative;
    margin: 10px 20px 0 130px;
    padding: 4px 0 0 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(38,38,39);
    background-color: rgb(124,175,46);
    /*background-image: radial-gradient(#32CD32, #5cb85c);*/
}

.checkBoxLabel {
    float: left;
    margin-left: 7px; 
    margin-bottom: 5px;
    color: white;
    font-size: 13;
    font-family: 'nexa_lightregular';
}

.checkBoxBox {
    float: left;
}

.subLabel {
    position: relative;
    float:left;
    margin-right: 5px;
    color: #c0c0c0;
    font-family: 'nexa_lightregular';
}

.subTextBox {
    border-style: solid;
    border-width: 1px;
    border-color: black; 
    border-radius: 3px;
}