/*FONTS*/
@font-face {
    font-family: NexusBold;
    src: url(css/fonts/NexaBold) format('truetype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: NexusLight;
    src: url(css/fonts/NexaLight) format('truetype');
    font-weight: normal;
    font-style: normal; 
}

.label {
    text-align: right;
}

.error {
    color: red;
}

#libTitle {
    margin: 10px 20px 10px 80px;
    color: white;
    font-family: 'NexaBold'
}

.headerLine {
    margin-top: 5px;
    border-color: rgb(197,44,72);
    border-style: solid;
}

#testListBox {
    width: 80%;
    margin: 5px 10px 5px 10%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(33,33,33);

}

.instType {
    margin: 10px 0 0 0;
    color: white;
    font-family: 'NexaLight';
}

.colTitle {
    margin: 10px 0 0 0;
    color: white;
    font-family: 'NexaLight';
    letter-spacing: 1px;
}

.resultsLink {
    float: left;
    margin-right: 10px; 
    color: rgb(197,44,72);
    font-family: 'NexaLight';
}

.resultsName {
    color:white;
    font-size: 130%;
}

.decChart {
    position: relative;
    left: 100%;
    bottom: 90px;
    margin-bottom: 0;
    height:100px;
    width: 150px;
}
.name {
    color:rgb(197,44,72);
}

.startTime {
    color:rgb(197,44,72);
}

.endTime {
    color:rgb(197,44,72);
}